<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yj.core.qcauditlist.mapper.QcauditprocessdtlMapper">
    <resultMap id="BaseResultMap" type="yj.core.qcauditlist.dto.Qcauditprocessdtl">
        <result column="WERKS" property="werks" jdbcType="VARCHAR" />
        <result column="RECORDID" property="recordid" jdbcType="VARCHAR" />
        <result column="ITEM" property="item" jdbcType="VARCHAR" />
        <result column="ZQJJLH" property="zqjjlh" jdbcType="VARCHAR" />
        <result column="ZGJBAR" property="zgjbar" jdbcType="VARCHAR" />
        <result column="ZPGDBAR" property="zpgdbar" jdbcType="VARCHAR" />
        <result column="ZXHBAR" property="zxhbar" jdbcType="VARCHAR" />
        <result column="MATNR" property="matnr" jdbcType="VARCHAR" />
        <result column="CHARG" property="charg" jdbcType="VARCHAR" />
        <result column="ZBANC" property="zbanc" jdbcType="VARCHAR" />
        <result column="SHIFT" property="shift" jdbcType="VARCHAR" />
        <result column="GSTRP" property="gstrp" jdbcType="DATE" />
        <result column="MATNR2" property="matnr2" jdbcType="VARCHAR" />
        <result column="YCHARG" property="ycharg" jdbcType="VARCHAR" />
        <result column="YSHIFT" property="yshift" jdbcType="VARCHAR" />
        <result column="YZBANC" property="yzbanc" jdbcType="VARCHAR" />
        <result column="SFFLG" property="sfflg" jdbcType="VARCHAR" />
        <result column="DIECD" property="diecd" jdbcType="VARCHAR" />
        <result column="YGSTRP" property="ygstrp" jdbcType="DATE" />
        <result column="CODE" property="code" jdbcType="VARCHAR" />
        <result column="TLEVELCODE" property="tlevelcode" jdbcType="VARCHAR" />
        <result column="MENGE" property="menge" jdbcType="DECIMAL" />
        <result column="DFECT_QTY" property="dfectQty" jdbcType="DECIMAL" />
        <result column="GMEIN" property="gmein" jdbcType="VARCHAR" />
        <result column="REFLAG" property="reflag" jdbcType="DECIMAL" />
    </resultMap>


</mapper>