<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yj.core.wipshotnum.mapper.ShotnumMapper">
    <resultMap id="BaseResultMap" type="yj.core.wipshotnum.dto.Shotnum">
        <result column="WERKS" property="werks" jdbcType="VARCHAR"/>
        <result column="ARBPL" property="arbpl" jdbcType="VARCHAR"/>
        <result column="PRD_DATE" property="prdDate" jdbcType="DATE"/>
        <result column="SHIFTS" property="shifts" jdbcType="VARCHAR"/>
        <result column="CRDAT" property="crdat" jdbcType="DATE"/>
        <result column="CRTIM" property="crtim" jdbcType="DATE"/>
        <result column="CLASS" property="sClass" jdbcType="VARCHAR"/>
        <result column="ZPGDBAR" property="zpgdbar" jdbcType="VARCHAR"/>
        <result column="KTEXT" property="ktext" jdbcType="VARCHAR"/>
        <result column="SHOT_START" property="shotStart" jdbcType="DECIMAL"/>
        <result column="SHOT_END" property="shotEnd" jdbcType="DECIMAL"/>
        <result column="CRNAM" property="crnam" jdbcType="VARCHAR"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
        <result column="CREATION_DATE" property="creationDate" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectShotnum" parameterType="yj.core.wipshotnum.dto.Shotnum" resultMap="BaseResultMap">
        select COUNT(sh.werks),sh.arbpl,sh.werks,sh.ktext,sh.prd_date,sh.shifts,sh.class,sh.shot_start,sh.shot_end,ao.fevor,ao.txt,ao.plnbez as plnbez,
        (select mdnum from sap_mouldcavity where matnr = plnbez) as mdnum,ao.aufnr
        from wip_shotnum sh,sap_afvc ac,sap_afko ao
        <where>
            sh.arbpl = ac.arbpl
            AND ac.vornr = "0010"
            AND ac.aufpl = ao.aufpl
            <if test="werks != null">
                AND sh.werks = #{werks}
            </if>
            <if test="fevor != null">
                AND ao.fevor = #{fevor}
            </if>
            <if test="prdDateAfter != null">
                AND  sh.prd_date >= #{prdDateAfter}
            </if>
            <if test="prdDateBefore != null">
                AND #{prdDateBefore} >= sh.prd_date
            </if>
        </where>
        order by  ao.fevor asc,sh.arbpl asc,sh.prd_date asc,sh.shifts asc
    </select>
   <!--汇总查询-->
    <select id="selectShotnum2" parameterType="yj.core.wipshotnum.dto.Shotnum" resultMap="BaseResultMap">
        select DISTINCT sh.werks,sh.arbpl,sh.ktext,sh.shot_start,sh.shot_end,ao.fevor,ao.txt,ao.plnbez as plnbez,
        (select mdnum from sap_mouldcavity where matnr = plnbez) as mdnum,ao.aufnr
        from wip_shotnum sh,sap_afvc ac,sap_afko ao
        <where>
            sh.arbpl = ac.arbpl
            AND ac.vornr = "0010"
            AND ac.aufpl = ao.aufpl
            <if test="werks != null">
                AND sh.werks = #{werks}
            </if>
            <if test="fevor != null">
                AND ao.fevor = #{fevor}
            </if>
        </where>
    </select>

    <insert id="insertRow" parameterType="yj.core.wipshotnum.dto.Shotnum" >
        insert INTO wip_shotnum(WERKS,ARBPL,PRD_DATE,SHIFTS,CRDAT,CRTIM,CLASS,ZPGDBAR,KTEXT,SHOT_START,SHOT_END,CRNAM,CREATED_BY,CREATION_DATE)
        VALUES (#{werks},#{arbpl},#{prdDate},#{shifts},#{crdat},#{crtim},#{sClass},#{zpgdbar},#{ktext},#{shotStart},#{shotEnd},#{crnam},#{createdBy},#{creationDate})
    </insert>
</mapper>