<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yj.core.wipshotnum.mapper.ShotnumMapper">
    <resultMap id="BaseResultMap" type="yj.core.wipshotnum.dto.Shotnum">
        <result column="WERKS" property="werks" jdbcType="VARCHAR"/>
        <result column="ARBPL" property="arbpl" jdbcType="VARCHAR"/>
        <result column="PRD_DATE" property="prdDate" jdbcType="DATE"/>
        <result column="SHIFTS" property="shifts" jdbcType="VARCHAR"/>
        <result column="CRDAT" property="crdat" jdbcType="DATE"/>
        <result column="CRTIM" property="crtim" jdbcType="DATE"/>
        <result column="CLASS" property="sClass" jdbcType="VARCHAR"/>
        <result column="ZPGDBAR" property="zpgdbar" jdbcType="VARCHAR"/>
        <result column="KTEXT" property="ktext" jdbcType="VARCHAR"/>
        <result column="SHOT_START" property="shotStart" jdbcType="DECIMAL"/>
        <result column="SHOT_END" property="shotEnd" jdbcType="DECIMAL"/>
        <result column="CRNAM" property="crnam" jdbcType="VARCHAR"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
        <result column="CREATION_DATE" property="creationDate" jdbcType="VARCHAR" />
        <result column="FEVOR" property="fevor" jdbcType="VARCHAR"/>
        <result column="TXT" property="txt" jdbcType="VARCHAR"/>
        <result column="PLNBEZ" property="plnbez" jdbcType="VARCHAR"/>
        <result column="AUFNR" property="aufnr" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectShotnum" parameterType="yj.core.wipshotnum.dto.Shotnum" resultMap="BaseResultMap">
        select DISTINCT sh.* from wip_shotnum sh
        <where>
            1 = 1
            <if test="werks != null">
                AND sh.werks = #{werks}
            </if>
            <if test="prdDateAfter != null">
                AND  sh.prd_date >= #{prdDateAfter}
            </if>
            <if test="prdDateBefore != null">
                AND #{prdDateBefore} >= sh.prd_date
            </if>
        </where>
        order by sh.arbpl asc,sh.prd_date asc,sh.shifts asc
    </select>

    <insert id="insertRow" parameterType="yj.core.wipshotnum.dto.Shotnum" >
        insert INTO wip_shotnum(WERKS,ARBPL,PRD_DATE,SHIFTS,CRDAT,CRTIM,CLASS,ZPGDBAR,KTEXT,SHOT_START,SHOT_END,CRNAM,CREATED_BY,CREATION_DATE)
        VALUES (#{werks},#{arbpl},#{prdDate},#{shifts},#{crdat},#{crtim},#{sClass},#{zpgdbar},#{ktext},#{shotStart},#{shotEnd},#{crnam},#{createdBy},#{creationDate})
    </insert>

    <select id="isExit" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * FROM wip_shotnum
        <where>
            WERKS = #{werks}
            and ARBPL = #{arbpl}
            and PRD_DATE = #{prd_date}
            and SHIFTS = #{shifts}
        </where>
        order by CRDAT,CRTIM desc
    </select>
</mapper>