<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!DOCTYPE html>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="X-CSRF-TOKEN" />
    <title>加工在制毛坯盘点</title>

    <!–[if lt IE 9]>
    <Script src="${base.contextPath}/resources/js/IE9.js"></Script>
    <Script src="${base.contextPath}/resources/js/yj-pda.js"></Script>
    <Script src="${base.contextPath}/resources/js/json2.js"></Script>
    <script src="${base.contextPath}/lib/kendoui/js/jquery.min.js"></script>

    <style type="text/css">
        #dispatch-area{
            margin-top:-7px;
            width:220px;
            height:285px;
            z-index: 999;
        }
        #otherInfo-area{
            background-color: #CCCCCC;

            position: absolute;
            width:220px;
            height:285px;
            z-index: 998;
            top: 0px;
            left: 0px;
        }
        .dcp-label{
            font-size: 16px;
            width: 80px;
            height: 20px;
            display: inline-block;
        }
        .cls-attr-input{
            font-size: 16px;
            width: 120px;
            height: 21px;
            margin-bottom: 1px;
        }
        #mask{
            background-color: #434343;
            opacity:0.5;
            filter: alpha(opacity=50);
            position: absolute;
            left: 0;
            top: 0;
            z-index:1000;
        }
        #mask2{
            background-color: #434343;
            opacity:0.5;
            filter: alpha(opacity=50);
            position: absolute;
            width: 240px;
            height: 320px;
            left: 0;
            top: 0;
            z-index:1001;
        }
        #msg-area{
            background-color: white;
            width: 200px;
            height: 120px;
            top: 100px;
            left: 20px;
            position: absolute;
            z-index: 1002;
        }
        #msg1{
            width:200px;
            height:30px;
            background-color:#F5F1DD;
            border-radius: 5px;
        }
        #msg2{
            width:200px;
            height:60px;
        }
        #msg3{
            width:200px;
            height:30px;
        }
        #text{
            width:100%;
            height:100%;
            float: left;
            font-size: medium;
            font-family: "微软雅黑";
        }
    </style>
    <script>

        window.onload=function () {
            var msg = "";
            var l_error = "";
            var oFevor = document.getElementById("fevor");
            var oLineId = document.getElementById("lineId");
            var oLineDesc = document.getElementById("lineDesc");
            var oMatnr = document.getElementById("matnr");
            /*var oMatnr2 = document.getElementById("matnr2");*/
            var oMatDesc = document.getElementById("matDesc");
            var oPdNum = document.getElementById("pdSum");

            var oMatDescs = {};
            var len = 0;
            //进入产线条码页面时，光标定位到条码输入框
            oLineId.focus();

            //获取主界面DIV页面元素
            var dDpt = document.getElementById("dispatch-area");

            //获取消息界面DIV页面元素
            var dMsg = document.getElementById("msg-area");            //获取消息界面DIV页面元素

            //获取遮罩层2DIV页面元素
            var dMask2 = document.getElementById("mask2");


            //初始化界面状态
            dDpt.style.display = "";
            dMsg.style.display = "none";
            dMask2.style.display = "none";



            var username = getCookie("username");

            //用户登录判定操作
            if (username == "" || username == null) {
                //当用户未登录,返回登录界面
                window.location.href = '${base.contextPath}/yjlogin.html';
                return null;
            } else {
                //当用户登录，在界面展示用户信息，并记下用户id
                document.getElementById("user").innerHTML = username;
                /*var data = {"userName":username}*/
                $.ajax({
                    url: "${base.contextPath}/sys/userrole/queryByUserName",
                    type: "get",
                    data: {"username": username},
                    contentType: "application/json; charset=utf-8",
                    success: function (res) {
                        var userId = JSON.stringify(res.rows[0].userId);
                        createdBy = userId;
                        //document.getElementById("user").innerHTML = userId;
                    }
                });
                $.ajax({
                    url: "${base.contextPath}/hr/employee/queryByCode",
                    type: "get",
                    data: {"code": username},
                    contentType: "application/json; charset=utf-8",
                    success: function (res) {
                        var name = JSON.stringify(res.rows[0].name);
                        name = name.substring(1, name.length - 1);
                        eval("var strname = '" + name + "';")
                        document.getElementById("user").innerHTML = strname;
                    }
                });
                //初始化车间选择列表
                $.ajax({
                    url:"${base.contextPath}/sap/fevor/selectFevor2",
                    type: "get",
                    contentType: "application/json; charset=utf-8",
                    success: function (res) {
                        if (res.success){
                            var rows = res.rows;
                            if (rows.length > 0){
                                for (var i=0;i<rows.length;i++){
                                    oFevor.options[i+1].value = rows[i].fevor;
                                    oFevor.options[i+1].innerHTML = rows[i].txt;
//                                    oFevor.innerHTML = oFevor.innerHTML + "<option value=" + rows[i].fevor + ">" + rows[i].fevor + "." + rows[i].txt + "</option>"
                                }
                            }
                        }
                    }
                });
                oLineId.onkeydown = function () {
                    if(event.keyCode == 13){

                        l_error = "";
                        msg = "";
                        //根据产线条码查询
                        var lineId = oLineId.value;
                        if(lineId != ""){
                            $.ajax({
                                url: "${base.contextPath}/wip/lines/selectByLineId",
                                type: "get",
                                data: {
                                    lineId:lineId
                                },
                                contentType: "application/json; charset=utf-8",
                                success: function (res) {
                                    if (res.success) {
                                        var rows = res.rows;
                                        oLineDesc.value = rows[0].descriptions;
                                        for(var j=1;j<len;j++){
                                            oMatDescs[j] = "";
                                            oMatnr.options[j].innerHTML = oMatnr.options[j].value = "";
                                        }
                                        $.ajax({
                                            url: "${base.contextPath}/wip/products/cfg/queryByLineId",
                                            type: "get",
                                            data: {
                                                lineId: lineId
                                            },
                                            contentType: "application/json; charset=utf-8",
                                            success: function (res) {
                                                if (res.success) {
                                                    var rows = res.rows;
                                                    len = rows.length + 1;
                                                    if (rows.length > 0) {
                                                        oMatDescs[0] = "";
                                                        for (var i = 0; i < rows.length; i++) {
                                                            oMatnr.options[i+1].value = rows[i].matnr2;
                                                            oMatnr.options[i+1].innerHTML = rows[i].matnr2;
                                                            oMatDescs[i+1] = rows[i].maktx;
                                                        }
                                                    }
                                                } else {
                                                    msg = "该产线没有物料编码，请重新输入!";
//                                                    openMsgDialog("错误", msg, "M");
                                                    alert(msg);
                                                    oLineId.value = "";
                                                    oLineDesc.value = "";
                                                    removeMask2Dialog();

                                                }
                                            }
                                        });
                                    }else{
                                        msg = "未能获取到生产线数据！";
//                                        openMsgDialog("错误", msg, "M");
                                        alert(msg);
                                        oLineId.value = "";
                                        oLineDesc.value = "";
                                        removeMask2Dialog();

                                    }
                                }
                            });
                        }else{
                            msg = "产线条码不能为空，请重新输入!";
                            openMsgDialog("错误", msg, "M");
                            removeMask2Dialog();
                        }
                    }
                };
                oMatnr.onchange = function () {
                    if(oMatnr.selectedIndex != 0){
                        var matnr = oMatnr.options[oMatnr.selectedIndex].value;
                        if(matnr != ""){
                            oMatDesc.value = oMatDescs[oMatnr.selectedIndex];
                        }else{
                            oMatDesc.value = "";
                        }
                    }
                };
                /*if(oLineId.value == ""){
                    oMatnr2.onkeydown = function () {
                        if(event.keyCode == 13) {
                            l_error = "";
                            msg = "";
                            var matnr = oMatnr2.value;
                            if(matnr != ""){
                                $.ajax({
                                    url: "${base.contextPath}/sap/marc/selectByMatnr",
                                    type: "get",
                                    data: {
                                        matnr:matnr
                                    },
                                    contentType: "application/json; charset=utf-8",
                                    success: function (res) {
                                        if (res.success) {
                                            var rows = res.rows;
                                            oMatDesc.value = rows[0].maktx;
                                        }else{
                                            msg = "没有该物料号，请重新输入!";
                                            openMsgDialog("错误",msg,"M");
                                            oMatnr2.value = "";
                                            removeMask2Dialog();
                                        }
                                    }
                                });
                            }else{
                                msg = "物料号不能为空，请重新输入!";
                                openMsgDialog("错误",msg,"M");
                                removeMask2Dialog();
                                oLineId.value = "";
                            }
                        }
                    }
                }*/
            }

            /*用户注销相关操作*/
            //获取注销页面元素
            //获取返回页面元素
            var cLot = document.getElementById("logout");
            var back = document.getElementById("back");

            //注销点击事件
            cLot.onclick = function () {
                delCookie("username");
                window.location.href = '${base.contextPath}/yjlogin.html';
                return null;
            };

            back.onclick = function () {
                window.location.href = '${base.contextPath}/dispatch/dispatch_pd_index.html';
                return null;
            };



            var bCfr=document.getElementById("confirm2");
            bCfr.onclick=function () {
                var fevor = oFevor.options[oFevor.selectedIndex].value;
                var pdNum = oPdNum.value;
                var lineId = oLineId.value;
                var matnr = oMatnr.options[oMatnr.selectedIndex].value;
                if(fevor == "请选择" || fevor == '' || fevor == null || fevor == ""){
//                    disableLine();
//                    disableMatnr();
//                    openMsgDialog("错误","请选择车间！","M");
                    alert("请选择车间！");
                    removeMask2Dialog();
                }else if(lineId == '' || lineId == null || lineId == "") {

                    alert("请输入产线条码！");
                    removeMask2Dialog();
                }else if(matnr == "请选择" || matnr == '' || matnr == null || matnr == ""){

                    alert("请选择物料号！");
                    removeMask2Dialog();
                }else if(pdNum == '' || pdNum == null || pdNum == ""){
//                    msg = "请输入盘点数量！";
//                    openMsgDialog("错误",msg,"M");
                    alert("请输入盘点数量！");
                    removeMask2Dialog();
                    oPdNum.focus();
                }else{
                    disableMatnr();
                    openMsgDialog("确认","是否继续过账","C");
                    removeMask2Dialog();
                }
            };

            var bClear = document.getElementById("cleanData");
            bClear.onclick= function(){
                clearData();
            };
        };
        function openMsgDialog(msgTitle,msgText,msgType) {

            appendMask2Dialog();
            disableMatnr();
            var dMsg=document.getElementById("msg-area");
            dMsg.style.display="";
            document.getElementById("msg1").innerHTML="&nbsp"+msgTitle;
            document.getElementById("msg2").innerHTML=msgText;
            var bCan=document.getElementById("cancer");
            var bCls2=document.getElementById("put");
            if(msgType == "M"){

                bCan.style.display = "none";
                bCls2.onclick=function () {
                    dMsg.style.display = "none";
                    removeMask2Dialog();
                    if(msgTitle == "成功" || msgTitle == "失败"){
                        //清空页面元素
                        clearData();
                        //获取条码页面元素
                        var roBcd=document.getElementById("lineId");
                        //进入报工页面时，光标定位到条码输入框
                        roBcd.focus();
                        ableMatnr();
                    }

                }

            }else if(msgType == "C") {
                bCan.style.display = "";
                bCan.onclick=function () {
                    dMsg.style.display="none";
                    removeMask2Dialog();
                    ableMatnr();
                };
                bCls2.onclick=function () {
                    var oFevor = document.getElementById("fevor");
                    var fevor = oFevor.options[oFevor.selectedIndex].value;
                    var lineId = document.getElementById("lineId").value;
                    var lineName = document.getElementById("lineDesc").value;
                    var oMatnr = document.getElementById("matnr");
                    var matnr = oMatnr.options[oMatnr.selectedIndex].value;
                    var pdNum = document.getElementById("pdSum").value;
                    var username = getCookie("username");

                    $.ajax({
                        url:"${base.contextPath}/wip/qppdrcd/insertPdRow",
                        type: "get",
                        data:{
                            "fevor":fevor,
                            "lineId":lineId,
                            "lineName":lineName,
                            "matnr":matnr,
                            "pdnum":pdNum,
                            "operator":username,
                            "type":"3",
                            "createdBy":createdBy
                        },
                        contentType: "application/json; charset=utf-8",
                        success: function (res) {
                            if (res.success){
                                openMsgDialog("成功",res.message,"M");
                                removeMask2Dialog();
                                clearData();

                            }else{
                                openMsgDialog("失败",res.message,"M");
                                removeMask2Dialog();
                                clearData();

                            }
                        }
                    });
                }
            }

        }
        function clearData() {

            //document.getElementById("fevor").value = "";
            document.getElementById("lineId").value = "";
            document.getElementById("lineDesc").value = "";
            var oMatnr = document.getElementById("matnr");
            document.getElementById("matnr").value = "";
            //document.getElementById("matnr2").value = "";
            document.getElementById("matDesc").value = "";
            document.getElementById("pdSum").value = "";
            for (var i =0;i<oMatnr.length;i++){
                if (oMatnr.options[i].value != ""){
                    oMatnr.options[i].value = "";
                    oMatnr.options[i].innerHTML = "";
                }
            }

        }

        function disableLine(){
            var OLine = document.getElementById("lineId")
            OLine.disabled="disabled";
            OLine.style.display = "none";
            OLine.style.zIndex="-1";
        }

        function ableLine(){
            var OLine = document.getElementById("lineId")
            OLine.disabled="";
            OLine.style.display = "";
            OLine.style.zIndex="-1";
        }

        function disableMatnr(){
            var OMatnr = document.getElementById("matnr")
            OMatnr.disabled="disabled";
            OMatnr.style.display = "none";
            OMatnr.style.zIndex="-1";
        }

        function ableMatnr() {
            var OMatnr = document.getElementById("matnr")
            OMatnr.disabled="";
            OMatnr.style.display = "";
            OMatnr.style.zIndex="-1";
        }

    </script>
</head>
<body>
<!--加工在制毛坯盘点界面-->
<div id="dispatch-area">

    <div style="width: 220px;height: 20px">
        <div id="back" style="font-size: 16px;width:40px;height:20px;float: left;background-color:#169bd5;top: 0px;margin-bottom: 1px">&nbsp;返回</div>
        <div style="width:20px;height:20px;float: left;background-color:white;top: 0px"></div>
        <div id="logout" style="font-size: 16px;width:40px;height:20px;float: left;background-color:#169bd5;top: 0px;margin-bottom: 1px">&nbsp;注销</div>
        <div style="width:20px;height:20px;float: left;background-color:white;top: 0px"></div>
        <div id="user" style="margin-right: 25px;font-size:14px;height:20px;float: right;background-color:white;top: 0px"></div>
    </div>
    <div style="width: 220px;height: 174px">
        <br/>
        <label class="dcp-label">车间</label><select id="fevor" class="cls-attr-input" type="text">
            <option value="">请选择</option>
            <option></option>
            <option></option>
            <option></option>
            <option></option>
            <option></option>
            <option></option>
            <option></option>
            <option></option>
            <option></option>
            <option></option>
            <option></option>
            <option></option>
        </select><br>
        <label class="dcp-label">产线条码</label><input id="lineId" class="cls-attr-input"><br>
        <label class="dcp-label">产线名称</label><textarea id="lineDesc" style="width: 120px;height: 30px;background-color: #C9C9C9" disabled="true" rows="4"></textarea><br>
        <label class="dcp-label">物料编号</label><select id="matnr" class="cls-attr-input" type="text">
        <option value="">请选择</option>
            <option></option>
            <option></option>
            <option></option>
            <option></option>
            <option></option>
            <option></option>
            <option></option>
            <option></option>
        </select>
        <!--<label class="dcp-label"></label><input id="matnr2" class="cls-attr-input" type="number"><br>-->
        <label class="dcp-label">物料描述</label><textarea id="matDesc" style="width: 120px;height: 30px;background-color: #C9C9C9" disabled="true" rows="4"></textarea><br>
        <label class="dcp-label">盘点数量</label><input id="pdSum" class="cls-attr-input" type="number"><br>

    </div>

    <div style="width: 220px;height: 30px;margin-top: 2px">
        <div style="width:50px;height:20px;float: left;"><button id="confirm2" style="width: auto;height: 27px" hidefocus="true" class="login-btn" >保存</button></div>
        <div> </div>
        <div style="width:50px;height:20px;float: right;"><button id="cleanData" style="width: auto;height: 27px" hidefocus="true" class="login-btn" >清空</button></div>
    </div>
</div>



<!--消息界面-->
<div id="msg-area">
    <div>
        <div id="msg1" style="font-size: 16px; line-height: 25px"></div>
        <div id="msg2" style="font-size: 10px; text-align: center;line-height: 20px"></div>
        <div id="msg3">
            <button id="cancer" style="float: left;width: auto;background-color: white">取消</button>
            <button id="put" style="float: right;width: auto;background-color: white">确定</button>
        </div>
    </div>
</div>

<!--遮罩层-->
<div id="mask2">
</div>
</body>
</html>