<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"><!DOCTYPE html>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="X-CSRF-TOKEN" />
    <title>生产报工</title>

    <!--<script src="${base.contextPath}/lib/kendoui/js/jquery.min.js"></script>-->

    <!–[if lt IE 9]>
    <Script src="${base.contextPath}/resources/js/IE9.js"></Script>
    <![endif]–>
    <Script src="${base.contextPath}/resources/js/yj-pda.js"></Script>
    <!--    <Script src="${base.contextPath}/resources/js/jquery-1.9.1.min.js"></Script>-->
    <Script src="${base.contextPath}/resources/js/json2.js"></Script>
    <script src="${base.contextPath}/lib/kendoui/js/jquery.min.js"></script>
    <script src="${base.contextPath}/lib/kendoui/js/kendo.all.min.js"></script>
    <script src="${base.contextPath}/lib/kendoui/js/kendo.hap.js"></script>
    <script>
        var barcode;
        var plant;
        var orderno;
        var dispatch;
        var operation;
        var yeild;
        var workscrap;
        var rowscrap;
        var klass;
        var line;
        var modelno;
        var postingdate = "";
        var createdate = "";
        var zpgdbh = "";
        var attr1 = "";
        var attr2 = "";
        var attr3 = "";
        var attr4 = "";
        var attr5 = "";
        var attr6 = "";
        var attr7 = "";
        var attr8 = "";
        var dispatchdate;
        function setDispatchDate() {
            dispatchdate={"barcode":barcode,
                "plant":plant,
                "orderno":orderno,
                "dispatch":dispatch,
                "zpgdbh":zpgdbh,
                "operation":operation,
                "yeild":yeild,
                "workscrap":workscrap,
                "rowscrap":rowscrap,
                "klass":klass,
                "line":line,
                "modelno":modelno,
                "postingdate":postingdate,
                "createdate":createdate};
        }
        function getValues() {
            barcode = document.getElementById("barcode").value;
            orderno = document.getElementById("order").value;
            dispatch = barcode.substring(4,barcode.length-4);
            zpgdbh = barcode.substring(barcode.length-8,barcode.length-4);
            operation = document.getElementById("operation").value;
            yeild = document.getElementById("yeild").value;
            workscrap = document.getElementById("workscrap").value;
            rowscrap = document.getElementById("rowscrap").value;
            klass = document.getElementById("klass").value;
            line = document.getElementById("line").value;
            modelno = document.getElementById("modelno").value;
            postingdate = document.getElementById("postdate").options[document.getElementById("postdate").selectedIndex].value.replace("-","").replace("-","");
            createdate = getTodayDate().replace("-","").replace("-","");

        }
        function clearValues() {
            //set all ducoments as space
            document.getElementById("barcode").value = "";
            document.getElementById("order").value = "";
            document.getElementById("operation").value = "";
            document.getElementById("yeild").value = "";
            document.getElementById("workscrap").value = "";
            document.getElementById("rowscrap").value = "";
            document.getElementById("klass").value = "";
            document.getElementById("line").value = "";
            document.getElementById("modelno").value = "";

        }
        function setOthers() {
            document.getElementById("attr1").value = attr1;
            document.getElementById("attr2").value = attr2;
            document.getElementById("attr3").value = attr3;
            document.getElementById("attr4").value = attr4;
            document.getElementById("attr5").value = attr5;
            document.getElementById("attr6").value = attr6;
            document.getElementById("attr7").value = attr7;
            document.getElementById("attr8").value = attr8;

        }
        function getOthers() {
            attr1 = document.getElementById("attr1").value;
            attr2 = document.getElementById("attr2").value;
            attr3 = document.getElementById("attr3").value;
            attr4 = document.getElementById("attr4").value;
            attr5 = document.getElementById("attr5").value;
            attr6 = document.getElementById("attr6").value;
            attr7 = document.getElementById("attr7").value;
            attr8 = document.getElementById("attr8").value;

        }
        function clearOthers() {
            attr1 = "";
            attr2 = "";
            attr3 = "";
            attr4 = "";
            attr5 = "";
            attr6 = "";
            attr7 = "";
            attr8 = "";

        }
    </script>
    <style type="text/css">
        #login-area{
            width:220px;
            height:285px;
            z-index:999;
        }
        #close{
            width:40px;
            height:20px;
            background-color: #A1A6A9;
            float: right;
            font-size: small;
            font-family: "微软雅黑";
        }
        #text{
            width:100%;
            height:100%;
            float: left;
            font-size: medium;
            font-family: "微软雅黑";
        }
        #info{
            background-color: #CCCCCC;
            position:fixed;
            z-index:1001;
        }
        #mask{
            background-color: #434343;
            opacity:0.5;
            filter: alpha(opacity=50);
            position:absolute;
            left:0;
            top:0;
            z-index:1000;
        }
        #login{
            background-color:white;
            position:fixed;
            z-index:1001;
        }
        #login{
            border-radius: 5px;
            behavior: url(ie-css3.htc) /*css3圆角兼容IE6*/
        }
        #msga{
            width:200px;
            height:30px;
            background-color:#F5F1DD;
            border-radius: 5px;
        }
        #msg0{
            width:200px;
            height:60px;
        }
        #msg1{
            width:200px;
            height:30px;
        }
        #msg2{
            width:200px;
            height:1px;
            background-color:#ccc;
        }
        #msg3{
            width:200px;
            height:53px;
        }
        #msg4{
            width:200px;
            height:1px;
            background-color:#ccc;
        }
        #msg5{
            width:200px;
            height:5px;
        }
        #msg6{
            width:200px;
            height:30px;
        }
        #msg7{
            width:150px;
            height:30px;
            float: left;
        }
        #close1{
            width:40px;
            height:20px;
            float: left;
            background-color:#169bd5;
        }

    </style>
    <script>
        /**
         * a window for information incomplete
         */
        function openErrorDialog(msg) {
        }

        /**
         * a window for confirming to dispatch
         */
        function openConfirmDialog() {
        }

        /**
         * a window for dispatching success
         */
        function openSuccessDialog() {
        }

        /**
         * a window for dispatching failure
         */
        function openFailureDialog() {
        }

        /**
         * a function for init postdate
         */
        function initPostDate() {
            var oPstd = document.getElementById("postdate");
            oPstd.options[1].value=oPstd.options[1].innerHTML=getTodayDate();
            oPstd.options[0].value=oPstd.options[0].innerHTML=getYesterdayDate();
        }

    </script>
    <script>
        window.onload=function(){

            var testCookie = document.cookie;
            var username = getCookie("username");
            if(username == "" || username == null){
                window.location.href='/yjlogin.html';
                return null;
            }


//            var namestr = "123";
            // get trueName of user
            $.ajax({
                url:"${base.contextPath}/hr/employee/queryByCode",
                type:"get",
                data : {"code":username},
                contentType :"application/json; charset=utf-8",
                success:function (res){
                    var namestr = JSON.stringify(res.rows[0].name);
                    namestr = namestr.substring(1,namestr.length-1);
                    document.getElementById("user").innerHTML = namestr;
                }

            });

            //click for logout
            var oLogout=document.getElementById("logout");
            oLogout.onclick=function () {
                //code for logout..
                delCookie("username");
                window.location.href='/yjlogin.html';
                //alert("logout");
                return null;
            }

            var oBtn=document.getElementById("btnLogin");

            //click for confirm
            oBtn.onclick=function(){
                openNewD();
                return false;
            }

            var ootherInfo=document.getElementById("otherInfo");
            ootherInfo.onclick=function () {
                openNewOther();
                return false;
            }

            var oIpt=document.getElementById("barcode");
            oIpt.onpropertychange=function () {
                //oIpt.onpropertychange=function () {

                //get the past barcode length
                /*                var oldlen = parseInt(getCookie("lenbarcode"));*/


                /*                document.getElementById("order").value = document.getElementById("barcode").value;*/
                var strBarcode = document.getElementById("barcode").value;
                var lenbarcode = strBarcode.length;
                /*                document.getElementById("yeild").values=oldlen;

                 if(oldlen != null){
                 /!*
                 document.getElementById("yeild").values=oldlen;*!/
                 if(oldlen>lenbarcode){
                 strBarcode = "";
                 }
                 if(oldlen<lenbarcode) {
                 strBarcode = strBarcode.substring(oldlen,lenbarcode);
                 }
                 if(oldlen != lenbarcode){
                 document.getElementById("barcode").value = strBarcode;
                 lenbarcode = strBarcode.length;


                 document.getElementById("workscrap").values=oldlen;
                 }
                 }*/

                if (lenbarcode >= 12){
                    document.getElementById("order").value = strBarcode.substring(4,lenbarcode-8);
                    document.getElementById("operation").value = strBarcode.substring(lenbarcode-4,lenbarcode);
                } else {
                    document.getElementById("order").value = "";
                    document.getElementById("operation").value = "";
                }

                /*                setCookie("lenbarcode",lenbarcode);*/

            }
            oIpt.focus();

            var oPstd = document.getElementById("postdate");
            oPstd.onblur=function () {
                var strPostDate = oPstd.options[oPstd.selectedIndex].value;
                /*                document.cookie = "postdate="+strPostDate;*/
                setCookie("postdate",strPostDate);
            }

            initPostDate();

            /*            var today = new Date().format("yyyy-MM-dd");
             oPstd.options[1].value=today;
             oPstd.options[1].innerHTML=today;*/
            //oPstd.options[1].value=oPstd.options[1].innerHTML=getTodayDate();

            /*            var yesterdayDate = new Date();
             yesterdayDate.setDate(yesterdayDate.getDate()-1);
             var yesterday = yesterdayDate.format("yyyy-MM-dd");
             oPstd.options[0].value=yesterday;
             oPstd.options[0].innerHTML=yesterday;*/
            //oPstd.options[0].value=oPstd.options[0].innerHTML=getYesterdayDate();

            /*            var arr,reg=new RegExp("(^| )"+"postdate"+"=([^;]*)(;|$)");
             if(arr=document.cookie.match(reg)){
             var postdate = arr[2];
             var lenOptions = oPstd.options.length;
             for(var i=0 ; i<lenOptions ; i++){
             if(oPstd.options[i].value == postdate){
             oPstd.options[i].selected = true;
             }
             }
             }*/
            var postdate = getCookie("postdate");
            if(postdate != null){
                var lenOptions = oPstd.options.length;
                for(var i=0 ; i<lenOptions ; i++){
                    if(oPstd.options[i].value == postdate){
                        oPstd.options[i].selected = true;
                    }
                }
            }

        }
        function openNewOther() {

            appendMaskDialog()

            var oPostdate=document.getElementById("postdate");
            oPostdate.style.display="none";

            var oOtherD=document.createElement("div");
            oOtherD.id="info";
            oOtherD.style.height="300px";
            oOtherD.style.width="240px";
            oOtherD.style.top="0px";
            oOtherD.style.left="0px";
            oOtherD.innerHTML=""
                +"<div style='margin:15px 10px;width: 220px;height: 20px'>"
                +"<div id='back' style='width:40px;height:20px;float: left;background-color:#169bd5;top: 0px'>返回</div>"
                +"</div>"
                +"<div style='margin-left: 10px;width: 220px;height: 265px'>"
                +"<label style='font-size:10px;width: 80px;height: 20px;display: inline-block'>扩充字段1</label><input id='attr1' style='font-size:10px;width: 120px;height: 20px' type='text'/>"+"<br>"
                +"<label style='font-size:10px;width: 80px;height: 20px;display: inline-block'>扩充字段2</label><input id='attr2' style='font-size:10px;width: 120px;height: 20px' type='text'/>"+"<br>"
                +"<label style='font-size:10px;width: 80px;height: 20px;display: inline-block'>扩充字段3</label><input id='attr3' style='font-size:10px;width: 120px;height: 20px' type='text'/>"+"<br>"
                +"<label style='font-size:10px;width: 80px;height: 20px;display: inline-block'>扩充字段4</label><input id='attr4' style='font-size:10px;width: 120px;height: 20px' type='text'/>"+"<br>"
                +"<label style='font-size:10px;width: 80px;height: 20px;display: inline-block'>扩充字段5</label><input id='attr5' style='font-size:10px;width: 120px;height: 20px' type='text'/>"+"<br>"
                +"<label style='font-size:10px;width: 80px;height: 20px;display: inline-block'>扩充字段6</label><input id='attr6' style='font-size:10px;width: 120px;height: 20px' type='text'/>"+"<br>"
                +"<label style='font-size:10px;width: 80px;height: 20px;display: inline-block'>扩充字段7</label><input id='attr7' style='font-size:10px;width: 120px;height: 20px' type='text'/>"+"<br>"
                +"<label style='font-size:10px;width: 80px;height: 20px;display: inline-block'>扩充字段8</label><input id='attr8' style='font-size:10px;width: 120px;height: 20px' type='text'/>"+"<br>"
                +"</div>";

            document.body.appendChild(oOtherD);

            setOthers();

            var oBack=document.getElementById("back");
            oBack.onclick=function () {
                getOthers();
                document.body.removeChild(oOtherD);
                oPostdate.style.display="";
                removeMaskDialog()
            }
        }
        function openNewD() {
            /*            var oMaskD=document.createElement("div");
             oMaskD.id="mask";
             oMaskD.style.height="320px";
             oMaskD.style.width="240px";
             document.body.appendChild(oMaskD);*/
            appendMaskDialog();
            disablePostdate();

            var oLoginD=document.createElement("div");
            oLoginD.id="login";
            oLoginD.style.height="120px";
            oLoginD.style.width="200px";
            oLoginD.style.top="150px";
            oLoginD.style.left="20px";

            oLoginD.innerHTML="<div class='loginCon'>"
                +"<div id='msga'><label style='line-height: 25px'>&nbsp确认</label></div>"
                +"<div id='msg0' style='text-align: center;line-height: 40px'>是否继续过账</div>"
                +"<div id='msg6'>"
                +"<button id='click1' style='float: left;width: auto;background-color: white'>取消</button>"
                +"<button id='click2' style='float: right;width: auto;background-color: white'>确定</button>"
                +"</div>"
                +"</div>";

            document.body.appendChild(oLoginD);

            /*            var oClose=document.getElementById("close1");*/

            var oClose1=document.getElementById("click1");

            var oClose2=document.getElementById("click2");

            //点击登陆框以外的区域也可以关闭登陆框
            /*            oClose.onclick=function(){
             document.body.removeChild(oLoginD);
             document.body.removeChild(oMaskD);
             };*/
            oClose1.onclick=function(){
                document.body.removeChild(oLoginD);
                /*                document.body.removeChild(oMaskD);*/
                ablePostdate();
                removeMaskDialog();
            };
            oClose2.onclick=function(){
                getValues();
                setDispatchDate();
                $.ajax({
                    url:"${base.contextPath}/confirmation/input/log/insertInputLog",
                    type:"post",
                    data : dispatchdate,
                    dataType : "json",
                    contentType :"application/json; charset=utf-8",
                    success:function (res){
                        if(!res.success){

                        }else{

                        }
                    },
                    error:function (res) {

                    }
                });


                document.body.removeChild(oLoginD);
                /*                document.body.removeChild(oMaskD);*/
                ablePostdate();
                removeMaskDialog();
                var yeildNum=document.getElementById("yeild").value;
                getValues();
                if((barcode == "") || (barcode == null) || (yeild == "") || (yeild == null)){
                    openError();
                } else if(parseInt(yeildNum) > 100){
                    openFailure();
                } else {
                    openSuccess();
                }
            };
        }
        function openError() {
            appendMaskDialog();
            disablePostdate();

            var oLoginD = document.createElement("div");
            oLoginD.id = "login";
            oLoginD.style.height = "120px";
            oLoginD.style.width = "200px";
            oLoginD.style.top = "150px";
            oLoginD.style.left = "20px";

            oLoginD.innerHTML = "<div class='loginCon'>"
                + "<div id='msga'><label style='line-height: 25px'>&nbsp错误</label></div>"
                + "<div id='msg0' style='text-align: center;line-height: 40px'>请扫码或输入其他字段</div>"
                + "<div id='msg6'>"
                + "<button id='click2' style='float: right;width: auto;background-color: white'>确定</button>"
                + "</div>"
                + "</div>";

            document.body.appendChild(oLoginD);
            var oClose2 = document.getElementById("click2");
            oClose2.onclick = function () {
                document.body.removeChild(oLoginD);
                /*                document.body.removeChild(oMaskD);*/
                ablePostdate();
                removeMaskDialog();
            };
        }
        function openFailure() {
            appendMaskDialog();
            disablePostdate();

            var oLoginD = document.createElement("div");
            oLoginD.id = "login";
            oLoginD.style.height = "120px";
            oLoginD.style.width = "200px";
            oLoginD.style.top = "150px";
            oLoginD.style.left = "20px";

            oLoginD.innerHTML = "<div class='loginCon'>"
                + "<div id='msga'><label style='line-height: 25px'>&nbsp失败</label></div>"
                + "<div id='msg0' style='text-align: center;line-height: 40px'>报工失败</div>"
                + "<div id='msg6'>"
                + "<button id='click2' style='float: right;width: auto;background-color: white'>确定</button>"
                + "</div>"
                + "</div>";

            document.body.appendChild(oLoginD);
            var oClose2 = document.getElementById("click2");
            oClose2.onclick = function () {
                document.body.removeChild(oLoginD);
                /*                document.body.removeChild(oMaskD);*/
                ablePostdate();
                removeMaskDialog();
            };
        }
        function openSuccess(){
            appendMaskDialog();
            disablePostdate();

            var oLoginD=document.createElement("div");
            oLoginD.id="login";
            oLoginD.style.height="120px";
            oLoginD.style.width="200px";
            oLoginD.style.top="150px";
            oLoginD.style.left="20px";

            oLoginD.innerHTML="<div class='loginCon'>"
                +"<div id='msga'><label style='line-height: 25px'>&nbsp成功</label></div>"
                +"<div id='msg0' style='text-align: center;line-height: 40px'>报工成功</div>"
                +"<div id='msg6'>"
                +"<button id='click2' style='float: right;width: auto;background-color: white'>确定</button>"
                +"</div>"
                +"</div>";

            document.body.appendChild(oLoginD);
            var oClose2=document.getElementById("click2");
            oClose2.onclick=function(){
                document.body.removeChild(oLoginD);
                /*                document.body.removeChild(oMaskD);*/
                ablePostdate();
                clearValues();
                clearOthers();
                initPostDate();
                removeMaskDialog();
            };

        }
        function disablePostdate() {
            var oPostdate=document.getElementById("postdate");
            oPostdate.disabled="disabled";
            oPostdate.style.zIndex="-1";
        }
        function ablePostdate() {
            var oPostdate=document.getElementById("postdate");
            oPostdate.disabled="";
            oPostdate.style.zIndex="-1";
        }

    </script>
</head>
<body>
<div id="login-area">
    <div style="width: 220px;height: 20px">
        <div id="logout" style="width:40px;height:20px;float: left;background-color:#169bd5;top: 0px">注销</div><div style="width:20px;height:20px;float: left;background-color:white;top: 0px"></div><div id="user" style="font-size:10px;height:20px;float: right;background-color:white;top: 0px"></div>
    </div>
    <div style="width: 220px;height: 235px">
        <input id="barcode" style="font-size:10px;width: 200px;height: 20px" type="text"><br>
        <label style="font-size:10px;width: 80px;height: 20px;display: inline-block">过账日期</label><select id="postdate"  style="font-size:10px;width: 120px;height: 20px"><option></option><option></option></select><br>
        <label style="font-size:10px;width: 80px;height: 20px;display: inline-block">订单号</label><input id="order" disabled="true" value="" style="font-size:10px;width: 120px;height: 20px;background-color: #C9C9C9" type="text"><br>
        <label style="font-size:10px;width: 80px;height: 20px;display: inline-block">工序</label><input id="operation" disabled="true" value="" style="font-size:10px;width: 120px;height: 20px;background-color: #C9C9C9" type="text"><br>
        <label style="font-size:10px;width: 80px;height: 20px;display: inline-block">合格数量</label><input id="yeild" style="font-size:10px;width: 120px;height: 20px" type="text"><br>
        <label style="font-size:10px;width: 80px;height: 20px;display: inline-block">工废数量</label><input id="workscrap" style="font-size:10px;width: 120px;height: 20px" type="text"><br>
        <label style="font-size:10px;width: 80px;height: 20px;display: inline-block">料废数量</label><input id="rowscrap" style="font-size:10px;width: 120px;height: 20px" type="text"><br>
        <label style="font-size:10px;width: 80px;height: 20px;display: inline-block">班次</label><input id="klass" style="font-size:10px;width: 120px;height: 20px" type="text"><br>
        <label style="font-size:10px;width: 80px;height: 20px;display: inline-block">生产线</label><input id="line" style="font-size:10px;width: 120px;height: 20px" type="text"><br>
        <label style="font-size:10px;width: 80px;height: 20px;display: inline-block">模号</label><input id="modelno" style="font-size:10px;width: 120px;height: 20px" type="text"><br>
        <!--<button id="btnLogin" style="width: auto" hidefocus="true" class="login-btn">确认</button>-->
    </div>
    <div style="width: 220px;height: 30px">

        <div style="width:50px;height:20px;float: left;"><button id="btnLogin" style="width: auto" hidefocus="true" class="login-btn" >确认</button></div>
        <div style="width:100px;height:20px;float: left;"><button id="otherInfo" style="width: auto" hidefocus="true" class="login-btn" >其他信息</button></div>
        <!--<div style="font-size:12px;width:80px;height:20px;float: left;background-color:#169bd5;"><label id="otherInfo">其他信息</label></div>-->
    </div>
</div>

</body>
</html>