<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!DOCTYPE html>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="X-CSRF-TOKEN" />
    <title>生产报工</title>

    <!--
        Created by Rebs on 2017/6/12.
    -->

    <!–[if lt IE 9]>
    <Script src="${base.contextPath}/resources/js/IE9.js"></Script>
    <![endif]–>
    <!--
    <Script src="${base.contextPath}/resources/js/yj-pda.js?v=201706261447"></Script>
    -->
    <Script src="${base.contextPath}/resources/js/yj-pda.js"></Script>
    <Script src="${base.contextPath}/resources/js/json2.js"></Script>
    <script src="${base.contextPath}/lib/kendoui/js/jquery.min.js"></script>


    <style type="text/css">
        #dispatch-area{
            margin-top:-7px;
            width:220px;
            height:285px;
            z-index: 999;
        }
        #otherInfo-area{
            background-color: #CCCCCC;

            position: absolute;
            width:220px;
            height:285px;
            z-index: 998;
            top: 0px;
            left: 0px;
        }
        .dcp-label{
            font-size: 16px;
            width: 80px;
            height: 20px;
            display: inline-block;
        }
        .cls-attr-input{
            font-size: 16px;
            width: 120px;
            height: 21px;
            margin-bottom: 1px;
        }
        #mask{
            background-color: #434343;
            opacity:0.5;
            filter: alpha(opacity=50);
            position: absolute;
            left: 0;
            top: 0;
            z-index:1000;
        }
        #mask2{
            background-color: #434343;
            opacity:0.5;
            filter: alpha(opacity=50);
            position: absolute;
            width: 240px;
            height: 320px;
            left: 0;
            top: 0;
            z-index:1001;
        }
        #msg-area{
            background-color: white;
            width: 200px;
            height: 120px;
            top: 100px;
            left: 20px;
            position: absolute;
            z-index: 1002;
        }
        #msg1{
            width:200px;
            height:30px;
            background-color:#F5F1DD;
            border-radius: 5px;
        }
        #msg2{
            width:200px;
            height:60px;
        }
        #msg3{
            width:200px;
            height:30px;
        }
        #text{
            width:100%;
            height:100%;
            float: left;
            font-size: medium;
            font-family: "微软雅黑";
        }
    </style>
    <script>
/*
        window.onunload=function () {
            var n = window.event.screenX - window.screenLeft;
            var b = n > document.documentElement.scrollWidth-20;

            if(b && window.event.clientY < 0 || window.event.altKey){
                // 这个可以排除刷新 关闭的时候触发
                delCookie("username");
            }
        }*/

        window.onload=function () {

            //定义三个变量保存首工序扫描结果的模号，生产线，班标
            var tmpmodeNo = null;
            var tmpline = null;
            var tmpattr7 = null;
            var newZPGDBAR = null;
            var year = getTodayDate().toString().substring(0,4);
            var tyear = parseInt(year) + 1;
            //获取确认页面元素
            var cConfirm = document.getElementById("confirm2");
            var cClose = document.getElementById("close");


            //获取模号页面元素
            var cModelNo = document.getElementById("modelNo");
            cModelNo.onkeydown = function () {
                var cdMsg = document.getElementById("msg-area")
                var oMaskD2 = document.getElementById("mask2");
                if (event.keyCode == 13) {
                    if (cdMsg.style.display == "none") {
                        if (oMaskD2.style.display == "none") {
                            cConfirm.onclick();
                        }
                    } else {
                        cClose.onclick();
                    }
                }
            }

            //获取生产线页面元素
            var cLine = document.getElementById("line");
            cLine.onkeydown = function () {
                if (event.keyCode == 13) {
                    cModelNo.focus();
                }
            }

            /*			//获取班组页面元素
            var cClassgrp = document.getElementById("classgrp");
            cClassgrp.onkeydown=function () {
                if(event.keyCode == 13){
                    cLine.focus();
                }
            }*/

            //获取料废数量页面元素
            var cRowScrap = document.getElementById("rowScrap");
            cRowScrap.onkeydown = function () {
                if (event.keyCode == 13) {
                    cLine.focus();
                }
            }

            //获取工废数量页面元素
            var cWorkScrap = document.getElementById("workScrap");
            cWorkScrap.onkeydown = function () {
                if (event.keyCode == 13) {
                    cRowScrap.focus();
                }
            }

            //获取合格数量页面元素
            var cYeild = document.getElementById("yeild");
            cYeild.onkeydown = function () {
                if (event.keyCode == 13) {
                    cWorkScrap.focus();
                }
            }

            //获取条码页面元素
            var cBarcode = document.getElementById("barcode");
            cBarcode.onkeydown = function () {
                if (event.keyCode == 13) {
                    var strBarcode = document.getElementById("barcode").value;
                    var lenBarcode = strBarcode.length;
                    newZPGDBAR = null;
                    if (lenBarcode > 12) {
                        //添加逻辑针对2018.5.1专项（派工单条码查询自建表，如果存在记录，则替换成新的派工单）
                        var oldZPGDBAR = strBarcode.substring(0,lenBarcode - 4);
                        var oldoperation = strBarcode.substring(lenBarcode - 4,lenBarcode);
                        $.ajax({
                            url: "${base.contextPath}/bartobar/getnewbar",
                            type: "get",
                            data: {"wipZpgdbar":oldZPGDBAR},
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {
                                if (data.success) {
                                    if(data.rows.length > 0)
                                    {
                                        newZPGDBAR = JSON.stringify(data.rows[0].newZpgdbar);
                                    }

                                    if(newZPGDBAR != null)
                                    {
                                        newZPGDBAR = newZPGDBAR.substring(1,newZPGDBAR.length-1);
                                        document.getElementById("barcode").value = newZPGDBAR + oldoperation;//替换
                                        strBarcode = newZPGDBAR + oldoperation;//替换
                                        document.getElementById("orderno").value = strBarcode.substring(4, lenBarcode - 8);
                                        document.getElementById("operation").value = strBarcode.substring(lenBarcode - 4, lenBarcode);
                                    }else{
                                        document.getElementById("orderno").value = strBarcode.substring(4, lenBarcode - 8);
                                        document.getElementById("operation").value = strBarcode.substring(lenBarcode - 4, lenBarcode);
                                    }
                                    // document.getElementById("orderno").value = strBarcode.substring(4, lenBarcode - 8);
                                    // document.getElementById("operation").value = strBarcode.substring(lenBarcode - 4, lenBarcode);
                                    //add by 张滔 2017-12-5 添加扫描条码后判断如果不是首工序，查询首工序扫描记录中输入的 模号，生产线，班标
                                    //同时锁定 模号 生产线 班组 班标不允许编辑。
                                    var ordernotmp = strBarcode.substring(4, lenBarcode - 8);
                                    if (strBarcode.substring(lenBarcode - 4, lenBarcode) != "0010" && ((ordernotmp >= "1000000000" && ordernotmp <= "2999999999") || (ordernotmp >= "9400000000" && ordernotmp <= "9499999999") )) {//只针对压铸生产订单
                                        //如果不是首工序 锁定模号字段，生产线字段，班标字段 不允许修改
                                        //disableModelNo();//模号不允许编辑   暂时允许输入先运行一段时间再做管控
                                        //disableLine();//生产线不允许编辑
                                        var firstDispatch = strBarcode.substring(0, strBarcode.length - 4);
                                        var firstOperation = "0010";
                                        $.ajax({
                                            url: "${base.contextPath}/confirmation/input/log/inputFindHistory",
                                            type: "get",
                                            data: {
                                                "dispatch": firstDispatch,
                                                "operation": firstOperation
                                            },
                                            contentType: "application/json; charset=utf-8",
                                            success: function (res) {
                                                if (res.success) {
                                                    if(res.rows.length > 0)
                                                    {
                                                        tmpmodeNo = JSON.stringify(res.rows[0].modelNo);
                                                        tmpmodeNo = tmpmodeNo.substring(1, tmpmodeNo.length - 1);
                                                        tmpline = JSON.stringify(res.rows[0].line);
                                                        tmpline = tmpline.substring(1, tmpline.length - 1);
                                                        tmpattr7 = JSON.stringify(res.rows[0].attr7);
                                                        tmpattr7 = tmpattr7.substring(1, tmpattr7.length - 1);
                                                        //设置模号的值
                                                        document.getElementById("modelNo").value = tmpmodeNo;
                                                        document.getElementById("line").value = tmpline;
                                                    }

                                                }
                                            }

                                        });
                                    } else {
                                        ableModelNo();
                                        ableLine();
                                    }
                                }
                            }
                        });


                    } else {
                        document.getElementById("orderno").value = "";
                        document.getElementById("operation").value = "";
                    }
                    cYeild.focus();
                }
            }

            //获取消息界面DIV页面元素
            var dMsg = document.getElementById("msg-area");
            //获取其他信息界面DIV页面元素
            var dOin = document.getElementById("otherInfo-area");
            //初始化隐藏消息界面
            dMsg.style.display = "none";
            //初始化隐藏其他信息界面
            dOin.style.display = "none";

            /*用户登录相关操作*/
            //获取当前登录用户用户名
            var username = getCookie("username");

            //用户登录判定操作
            if (username == "" || username == null) {
                //当用户未登录,返回登录界面
                window.location.href = '${base.contextPath}/yjlogin.html';
                return null;
            } else {
                //当用户登录，在界面展示用户信息，并记下用户id
                document.getElementById("user").innerHTML = username;
                /*var data = {"userName":username}*/
                $.ajax({
                    url: "${base.contextPath}/sys/userrole/queryByUserName",
                    type: "get",
                    data: {"username": username},
                    contentType: "application/json; charset=utf-8",
                    success: function (res) {
                        var userId = JSON.stringify(res.rows[0].userId);
                        createdBy = userId;
                        //document.getElementById("user").innerHTML = userId;
                    }
                });
                $.ajax({
                    url: "${base.contextPath}/hr/employee/queryByCode",
                    type: "get",
                    data: {"code": username},
                    contentType: "application/json; charset=utf-8",
                    success: function (res) {
                        var name = JSON.stringify(res.rows[0].name);
                        name = name.substring(1, name.length - 1);
                        eval("var strname = '" + name + "';")
                        document.getElementById("user").innerHTML = strname;
                    }
                });
            }

            /*用户注销相关操作*/
            //获取注销页面元素
            var cLot = document.getElementById("logout");

            //注销点击事件
            cLot.onclick = function () {
                delCookie("username");
                window.location.href = '${base.contextPath}/yjlogin.html';
                return null;
            }

            /*过账日期字段相关操作*/
            //获取过账日期页面元素
            var oPstd = document.getElementById("postingDate");

            //初始化过账日期选项
            oPstd.options[1].value = oPstd.options[1].innerHTML = getTodayDate();
            oPstd.options[0].value = oPstd.options[0].innerHTML = getYesterdayDate();

            //初始化过账日期选择的值为上次选的值
            var postdate = getCookie("postingDate");
            if (postdate != null) {
                var lenOptions = oPstd.options.length;
                for (var i = 0; i < lenOptions; i++) {
                    if (oPstd.options[i].value == postdate) {
                        oPstd.options[i].selected = true;
                    }
                }
            }

            //当过账日期修改时记录下选择的值
            oPstd.onblur = function () {
                var strPostDate = oPstd.options[oPstd.selectedIndex].value;
                setCookie("postingDate", strPostDate);
            }

            /*班组字段相关操作*/
            //获取班组页面元素
            var oClassgrp = document.getElementById("classgrp");

            //初始化班组选择的值为上次选的值
            var classGroup = getCookie("classgrp");
            if (classGroup != null) {
                var lenOptions = oClassgrp.options.length;
                for (var i = 0; i < lenOptions; i++) {
                    if (oClassgrp.options[i].value == classGroup) {
                        oClassgrp.options[i].selected = true;
                    }
                }
            }

            //当班组修改时记录下选择的值
            oClassgrp.onblur = function () {
                var strClassGroup = oClassgrp.options[oClassgrp.selectedIndex].value;
                setCookie("classgrp", strClassGroup);
            }

            /*条码相关操作*/
            //获取条码页面元素
            var oBcd = document.getElementById("barcode");

            //进入报工页面时，光标定位到条码输入框
            oBcd.focus();

            //当条码值改变时实时修改订单号和工序
            oBcd.onpropertychange = function () {
                var strBarcode = document.getElementById("barcode").value;
                var lenBarcode = strBarcode.length;
                if (lenBarcode > 12) {
                    document.getElementById("orderno").value = strBarcode.substring(4, lenBarcode - 8);
                    document.getElementById("operation").value = strBarcode.substring(lenBarcode - 4, lenBarcode);
                } else {
                    document.getElementById("orderno").value = "";
                    document.getElementById("operation").value = "";
                }
            }

            /*报工主界面、报工其他信息界面切换*/

            //获取主界面DIV页面元素
            var dDpt = document.getElementById("dispatch-area");
            //获取其他信息界面DIV页面元素
            var dOin = document.getElementById("otherInfo-area");
            //获取消息界面DIV页面元素
            var dMsg = document.getElementById("msg-area");
            //获取遮罩层2DIV页面元素
            var dMask2 = document.getElementById("mask2");
            //获取主界面其他信息按钮页面元素
            var bOin = document.getElementById("otherInfo");
            //获取其他信息界面返回按钮页面元素
            var bBac = document.getElementById("back");

            //初始化界面状态
            dDpt.style.display = "";
            dOin.style.display = "none";
            dMsg.style.display = "none";
            dMask2.style.display = "none";
            /*bOin.style.display = "none";//隐藏主界面其他信息按钮*/
            var Oattr6 = document.getElementById("attr6");
            var Oattr8 = document.getElementById("attr8");
            Oattr6.options[0].value = Oattr6.options[0].innerHTML = getTodayDate();
            Oattr6.options[1].value = Oattr6.options[1].innerHTML = getDate(1);
            Oattr6.options[2].value = Oattr6.options[2].innerHTML = getDate(2);
            Oattr6.options[3].value = Oattr6.options[3].innerHTML = getDate(3);
            Oattr6.options[4].value = Oattr6.options[4].innerHTML = getDate(4);
            var myDate = new Date();
            var Hours = myDate.getHours();
            var Minutes = myDate.getMinutes();
            var seconds = myDate.getSeconds();
            if(Hours > 0 && Hours < 7) {
                Oattr6.options[1].selected = true;
                attr6 = Oattr6.value;
            }

            Oattr8.options[0].value = Oattr8.options[0].innerHTML = " ";
            //Oattr8.options[1].value = Oattr8.options[1].innerHTML = getDateAdd(1);
            //Oattr8.options[2].value = Oattr8.options[2].innerHTML = getDateAdd(2);
            //Oattr8.options[3].value = Oattr8.options[3].innerHTML = getDateAdd(3);
            //Oattr8.options[4].value = Oattr8.options[4].innerHTML = getDateAdd(4);
            //Oattr8.options[5].value = Oattr8.options[5].innerHTML = getDateAdd(5);
            //Oattr8.options[6].value = Oattr8.options[6].innerHTML = getDateAdd(6);
            Oattr8.options[1].value = Oattr8.options[1].innerHTML = tyear.toString() + "-01-01";
            Oattr8.options[2].value = Oattr8.options[2].innerHTML = tyear.toString() + "-01-02";
            Oattr8.options[3].value = Oattr8.options[3].innerHTML = tyear.toString() + "-01-03";
            Oattr8.options[4].value = Oattr8.options[4].innerHTML = tyear.toString() + "-01-04";
            Oattr8.options[5].value = Oattr8.options[5].innerHTML = tyear.toString() + "-01-05";
            Oattr8.options[6].value = Oattr8.options[6].innerHTML = tyear.toString() + "-01-06";

            //主界面其他信息按钮点击事件
            bOin.onclick = function () {
                var td = getTodayDate().toString();
                var bg = td.substring(0,4) + "-12-25";
                var end = td.substring(0,4) + "-12-31";
                if( td >= bg && td <= end ){//是否启用更换年标
                    Oattr8.removeAttribute("disable");
                }else{
                    Oattr8.setAttribute("disabled","true");
                }
                classgrp = document.getElementById("classgrp").options[document.getElementById("classgrp").selectedIndex].value;
                dDpt.style.display = "none";
                dOin.style.display = "";

                /**
                 * add by 张滔 2017-12-01
                 * for 添加针对订单类型YZ01 YZ04 YZ06
                 **/

                /**
                 * add by 张涛 2018-12-14
                 * for 添加针对订单类型 YZ03
                 **/

                var strBarcode = document.getElementById("barcode").value;
                orderno = strBarcode.substring(4, strBarcode.length - 8);
                if ((orderno >= "1000000000" && orderno <= "2999999999") || (orderno >= "9400000000" && orderno <= "9499999999")) {
                    getDispatchValues();

                    if (operation == "0010")//只有在首工序的时候才允许设置模号，生产线
                    {
                        attr6 = document.getElementById("attr6").value;
                        attr8 = document.getElementById("attr8").value;
                        if (attr8 == " " || attr8 == "" || attr8 == null) {
                            attr7 = attr6.substring(2, attr6.length - 6) + attr6.substring(5, attr6.length - 3) + attr6.substring(8, attr6.length) + classgrp.toLowerCase();
                        } else {
                            attr7 = attr8.substring(2, attr8.length - 6) + attr8.substring(5, attr8.length - 3) + attr8.substring(8, attr8.length) + classgrp.toLowerCase();
                        }

                        document.getElementById("attr7").value = attr7;//班标
                    } else {//非首工序模号，生产线，班标都使用首工序录入的数据
                        attr6 = document.getElementById("attr6").value;
                        attr7 = tmpattr7;
                        document.getElementById("attr7").value = attr7;
                    }

                } else {
                    getDispatchValues();
                }

            }
            //当生产日期修改时记录下选择的值
            Oattr6.onchange = function () {
                var strattr6 = Oattr6.options[Oattr6.selectedIndex].value;
                if (operation == "0010")//只针对首工序 生产日期修改会影响班标
                {
                    if (attr8 == " ") {
                        attr7 = strattr6.substring(2, strattr6.length - 6) + strattr6.substring(5, strattr6.length - 3) + strattr6.substring(8, strattr6.length) + classgrp.toLowerCase();
                    }

                    document.getElementById("attr7").value = attr7;//修改生产日期之后重新生成班标
                    setCookie("attr6", strattr6);
                } else {
                    setCookie("attr6", strattr6);
                }

            }

            Oattr8.onchange = function () {
                var strattr8 = Oattr8.options[Oattr8.selectedIndex].value;
                var strattr6 = Oattr6.options[Oattr6.selectedIndex].value;
                if (operation == "0010") {
                    if ( strattr8 == " " || strattr8 == "" || strattr8 == null )
                    {
                        attr7 = strattr6.substring(2, strattr6.length - 6) + strattr6.substring(5, strattr6.length - 3) + strattr6.substring(8, strattr6.length) + classgrp.toLowerCase();
                    }else{
                        attr7 = strattr8.substring(2, strattr8.length - 6) + strattr8.substring(5, strattr8.length - 3) + strattr8.substring(8, strattr8.length) + classgrp.toLowerCase();
                    }
                    document.getElementById("attr7").value = attr7;//修改生产日期之后重新生成班标
                    setCookie("attr8", strattr8);
                }else{
                    setCookie("attr8", strattr8);
                }

            }



            //其他信息界面返回按钮点击事件
            bBac.onclick=function () {
                dDpt.style.display = "";
                dOin.style.display = "none";
            }

            /*报工主界面确定按钮报工操作*/
            //获取主界面确定按钮页面元素
            var bCfr=document.getElementById("confirm2");
            bCfr.onclick=function () {
                getDispatchValues();
                //针对后面工序可能不会去点击其他信息页面，这里再次对班标进行赋值
                if(tmpattr7 != " " && tmpattr7 != null ){
                    attr7 = tmpattr7;
                }
                //检查必输字段
                var msg = checkDispatchValues();
                if(msg == null){
                    //检查通过 确认是否继续过账
                    openMsgDialog("确认","是否继续过账","C");
                } else {
                    //检查未通过 报错
                    openMsgDialog("错误",msg,"M");
                }
            }

            //add furong.tang
            //获取页面清空按钮元素
            var cCleanData = document.getElementById("cleanData");
            cCleanData.onclick=function () {

                //清空页面元素
                delDispatchValues();

                //获取条码页面元素
                var roBcd=document.getElementById("barcode");

                //进入报工页面时，光标定位到条码输入框
                roBcd.focus();

            }
            //add furong.tang

        }
    </script>
    <script>
        //消息界面
        //msgTitle:标题
        //msgText：内容
        //msgType：类型(M:提示消息;C:过账确认消息)
        function openMsgDialog(msgTitle,msgText,msgType) {
            appendMaskDialog();
            disablePostdate();
            disableClassgrp();
            var dMsg=document.getElementById("msg-area");
            dMsg.style.display="";
            document.getElementById("msg1").innerHTML="&nbsp"+msgTitle;
            document.getElementById("msg2").innerHTML=msgText;
            var bCan=document.getElementById("cancer");
            var bCls=document.getElementById("close");
            var userName = getCookie("username");
            if(msgType == "M"){
                bCan.style.display = "none";
                bCls.onclick=function () {
                    dMsg.style.display="none";
                    ablePostdate();
                    ableClassgrp();
                    removeMaskDialog();

                    if(msgTitle == "成功" || msgTitle == "失败"){
                        //清空页面元素
                        delDispatchValues();

                        //获取条码页面元素
                        var roBcd=document.getElementById("barcode");

                        //进入报工页面时，光标定位到条码输入框
                        roBcd.focus();
                    }
                    if(barcode == "" || barcode == null){

                        //获取条码页面元素
                        var roBcd=document.getElementById("barcode");

                        //进入报工页面时，光标定位到条码输入框
                        roBcd.focus();
                    }
                    if(msgText == "请输入数量"){

                        //获取条码页面元素
                        var roYed=document.getElementById("yeild");

                        //进入报工页面时，光标定位到条码输入框
                        roYed.focus();

                    }

                }
            } else if(msgType == "C") {
                bCan.style.display = "";
                bCan.onclick=function () {
                    dMsg.style.display="none";
                    ablePostdate();
                    ableClassgrp();
                    removeMaskDialog();
                }
                bCls.onclick=function () {
                    dMsg.style.display="none";
                    ablePostdate();
                    ableClassgrp();
                    removeMaskDialog();
                    setDispatchData();
                    appendMask2Dialog();
                    $.ajax({
                        url:"${base.contextPath}/confirmation/input/log/insertInputLog",
                        type:"get",
                        //data : dispatchDataMin,
                        data : {"a":barcode,
                            "b":postingDate,
                            "c":orderno,
                            "d":operation,
                            "e":yeild,
                            "f":workScrap,
                            "g":rowScrap,
                            "h":classgrp,
                            "i":line,
                            "j":modelNo,
                            "k":plant,
                            "l":dispatch,
                            "m":dispatchLogicID,
                            "n":createdBy,
                            "1":attr1,
                            "2":attr2,
                            "3":attr3,
                            "4":attr4,
                            "5":attr5,
                            "6":attr6,
                            "7":attr7,
                            "8":attr8,
                            "9":attr9,
                            "10":attr10,
                            "11":attr11,
                            "12":attr12,
                            "13":attr13,
                            "14":attr14,
                            "15":attr15,
                            "16":userName},
                        contentType :"application/json; charset=utf-8",
                        success:function (res){
                            removeMask2Dialog();
                            if(res.success){
                                var msgty = JSON.stringify(res.rows[0].msgty);
                                var message = JSON.stringify(res.rows[0].message);
                                message = message.substring(1,message.length-1);
                                eval("var strmessage = '" + message + "';")
                                if(msgty.substring(1,msgty.length-1) == "S"){
                                    openMsgDialog("成功",strmessage,"M");
                                }else{
                                    openMsgDialog("失败",strmessage,"M");
                                }
                            } else {
                                var falsemsg = JSON.stringify(res.message);
								falsemsg = falsemsg.substring(1,falsemsg.length-1);
								if(falsemsg == "Read timed out"){
									falsemsg = "请求超时-";
								}
                                openMsgDialog("失败",falsemsg + "报工失败","M");
                            }
                        },
                        error:function (res) {
                            openMsgDialog("失败","报工失败","M");
                        }
                    });
                }
            }
        }
        //过账日期字段不可编辑
        function disablePostdate() {
            var oPostdate=document.getElementById("postingDate");
            oPostdate.disabled="disabled";
            oPostdate.style.zIndex="-1";
        }
        //过账日期字段可编辑
        function ablePostdate() {
            var oPostdate=document.getElementById("postingDate");
            oPostdate.disabled="";
            oPostdate.style.zIndex="-1";
        }
        //班组字段不可编辑
        function disableClassgrp() {
            var oClassgrp=document.getElementById("classgrp");
            oClassgrp.disabled="disabled";
            oClassgrp.style.display="none";
            oClassgrp.style.zIndex="-1";
        }
        //班组字段可编辑
        function ableClassgrp() {
            var oClassgrp=document.getElementById("classgrp");
            oClassgrp.disabled="";
            oClassgrp.style.display="";
            oClassgrp.style.zIndex="-1";
        }

        //模号字段可编辑
        function ableModelNo() {
            var oModelNo = document.getElementById("modelNo");
            oModelNo.disabled = "";
            oModelNo.style.display = "";
            oModelNo.style.zIndex = "-1";
        }

        //模号字段不可编辑
        function disableModelNo() {
            var oModelNo=document.getElementById("modelNo");
            oModelNo.disabled="disabled";
            oModelNo.style.display="";
            oModelNo.style.zIndex="-1";
        }

        //生产线字段可编辑
        function ableLine() {
            var oLine = document.getElementById("line");
            oLine.disabled = "";
            oLine.style.display = "";
            oLine.style.zIndex = "-1";
        }

        //生产线字段不可编辑
        function disableLine() {
            var oLine=document.getElementById("line");
            oLine.disabled="disabled";
            oLine.style.display="";
            oLine.style.zIndex="-1";
        }
    </script>


</head>
<body>
<!--报工主界面-->
<div id="dispatch-area">

    <div style="width: 220px;height: 20px">
        <div id="logout" style="font-size: 16px;width:40px;height:20px;float: left;background-color:#169bd5;top: 0px;margin-bottom: 1px">&nbsp;注销</div>
        <div style="width:20px;height:20px;float: left;background-color:white;top: 0px"></div>
        <div id="user" style="margin-right: 25px;font-size:14px;height:20px;float: right;background-color:white;top: 0px"></div>
    </div>

    <div style="width: 220px;height: 235px">
        <input id="barcode" style="font-size:16px;width: 200px;height: 22px;margin-bottom: 1px;" type="text"><br>
        <label class="dcp-label">过账日期</label><select id="postingDate" class="cls-attr-input"><option></option><option></option></select><br>
        <label class="dcp-label">订单号</label><input id="orderno"  style="font-size:10px;width: 120px;height: 20px;background-color: #C9C9C9" disabled="true" type="text"><br>
        <label class="dcp-label">工序</label><input id="operation"  style="font-size:10px;width: 120px;height: 20px;background-color: #C9C9C9" disabled="true" type="text"><br>
        <label class="dcp-label">合格数量</label><input id="yeild" class="cls-attr-input" type="number"><br>
        <label class="dcp-label">工废数量</label><input id="workScrap" class="cls-attr-input" type="number"><br>
        <label class="dcp-label">料废数量</label><input id="rowScrap" class="cls-attr-input" type="number"><br>
        <!--<label class="dcp-label">班组</label><input id="classgrp" class="cls-attr-input" type="text"><br>-->
        <label class="dcp-label">班组</label><select id="classgrp" class="cls-attr-input">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
        </select><br>
        <label class="dcp-label">生产线</label><input id="line" class="cls-attr-input" type="text"><br>
        <label class="dcp-label">模号</label><input id="modelNo" class="cls-attr-input" type="text"><br>
    </div>

    <div style="width: 220px;height: 30px;margin-top: 2px">
        <div style="width:50px;height:20px;float: left;"><button id="confirm2" style="width: auto;height: 27px" hidefocus="true" class="login-btn" >确认</button></div>
        <div style="width:100px;height:20px;float: left;"><button id="otherInfo" style="width: auto;height: 27px" hidefocus="true" class="login-btn" >其他信息</button></div>
        <!--add furong.tang-->
        <div style="width:50px;height:20px;float: left;"><button id="cleanData" style="width: auto;height: 27px" hidefocus="true" class="login-btn" >清空</button></div>
        <!--add furong.tang-->
    </div>
</div>

<!--报工其他信息界面-->
<div id="otherInfo-area">

    <div style="margin: 15px 10px;width: 220px;height: 20px">
        <div id="back" style="font-size: 14px;width:40px;height:20px;float: left;background-color:#169bd5;top: 0px">返回</div>
    </div>

    <div style="margin-left: 10px;width: 220px;height: 265px">
        <label class="dcp-label">操作人1</label><input id="attr1" class="cls-attr-input" type="text"><br>
        <label class="dcp-label">操作人2</label><input id="attr2" class="cls-attr-input" type="text"><br>
        <label class="dcp-label">起止压射号</label><input id="attr3" class="cls-attr-input" type="number"><br>
        <label class="dcp-label">操作人4</label><input id="attr4" class="cls-attr-input" disabled="true" type="text"><br>
        <label class="dcp-label">操作人5</label><input id="attr5" class="cls-attr-input" disabled="true" type="text"><br>
        <label class="dcp-label">生产日期</label><select id="attr6" class="cls-attr-input"type="text">
        <option></option>
        <option></option>
        <option></option>
        <option></option>
        <option></option>
            </select><br>
        <label class="dcp-label">班标</label><input id="attr7" class="cls-attr-input" disabled="true" type="text"><br>
        <label class="dcp-label">年标日期</label><select id="attr8" class="cls-attr-input" type="text">
        <option></option>
        <option></option>
        <option></option>
        <option></option>
        <option></option>
        <option></option>
        <option></option>
        </select><br>
        <label class="dcp-label">质量问题</label><input id="attr9" class="cls-attr-input" type="text"><br>
        <label class="dcp-label">扩充字段10</label><input id="attr10" class="cls-attr-input" type="text"><br>
        <label class="dcp-label">扩充字段11</label><input id="attr11" class="cls-attr-input" type="text"><br>
        <label class="dcp-label">扩充字段12</label><input id="attr12" class="cls-attr-input" type="text"><br>
        <label class="dcp-label" style="display: none">扩充字段13</label><input id="attr13" class="cls-attr-input" style="display: none" type="text"><br>
        <label class="dcp-label" style="display: none">扩充字段14</label><input id="attr14" class="cls-attr-input" style="display: none" type="text"><br>
        <label class="dcp-label" style="display: none">扩充字段15</label><input id="attr15" class="cls-attr-input" style="display: none" type="text"><br>
    </div>

</div>

<!--消息界面-->
<div id="msg-area">
    <div>
        <div id="msg1" style="font-size: 16px; line-height: 25px"></div>
        <div id="msg2" style="font-size: 10px; text-align: center;line-height: 20px"></div>
        <div id="msg3">
            <button id="cancer" style="float: left;width: auto;background-color: white">取消</button>
            <button id="close" style="float: right;width: auto;background-color: white">确定</button>
        </div>
    </div>
</div>

<!--遮罩层-->
<div id="mask2">
</div>
</body>
</html>