<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yj.core.zudlist.mapper.ZudlistMapper">
    <resultMap id="BaseResultMap" type="yj.core.zudlist.dto.Zudlist">
        <result column="ZUDNUM" property="zudnum" jdbcType="VARCHAR" />
        <result column="ITEM" property="item" jdbcType="VARCHAR" />
        <result column="LINE_ID" property="lineId" jdbcType="VARCHAR" />
        <result column="ARBPR" property="arbpr" jdbcType="VARCHAR" />
        <result column="ZQJJLH" property="zqjjlh" jdbcType="VARCHAR" />
        <result column="ZPGDBAR" property="zpgdbar" jdbcType="VARCHAR" />
        <result column="VORNR" property="vornr" jdbcType="VARCHAR" />
        <result column="ZXHBAR" property="zxhbar" jdbcType="VARCHAR" />
        <result column="ZPGDBAR2" property="zpgdbar2" jdbcType="VARCHAR" />
        <result column="MATNR" property="matnr" jdbcType="VARCHAR" />
        <result column="MATNR2" property="matnr2" jdbcType="VARCHAR" />
        <result column="ZGJBAR" property="zgjbar" jdbcType="VARCHAR" />
        <result column="ZDNUM" property="zdnum" jdbcType="DECIMAL" />
        <result column="GMEIN" property="gmein" jdbcType="VARCHAR" />
        <result column="CHARG2" property="charg2" jdbcType="VARCHAR" />
        <result column="CHARG" property="charg" jdbcType="VARCHAR" />
        <result column="DIECD" property="diecd" jdbcType="VARCHAR" />
        <result column="SFFLG" property="sfflg" jdbcType="VARCHAR" />
        <result column="ZQXDM" property="zqxdm" jdbcType="VARCHAR" />
        <result column="ZISSUETXT" property="zissuetxt" jdbcType="VARCHAR" />
        <result column="ZBPJC" property="zbpjc" jdbcType="VARCHAR" />
        <result column="ZOPLO" property="zoplo" jdbcType="VARCHAR" />
        <result column="ZBANZ" property="zbanz" jdbcType="VARCHAR" />
        <result column="ZBANC" property="zbanc" jdbcType="VARCHAR" />
        <result column="RSPART" property="rspart" jdbcType="VARCHAR" />
        <result column="RSNAME" property="rsname" jdbcType="VARCHAR" />
        <result column="REVIEWC" property="reviewc" jdbcType="VARCHAR" />
        <result column="GSTRP" property="gstrp" jdbcType="VARCHAR" />
        <result column="MARK" property="mark" jdbcType="VARCHAR" />
        <result column="RUECK" property="rueck" jdbcType="VARCHAR" />
        <result column="RMZHL" property="rmzhl" jdbcType="VARCHAR" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
        <result column="RMZHL" property="rmzhl" jdbcType="VARCHAR" />
        <result column="CREATION_DATE" property="creationDate"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL" />
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL" />
    </resultMap>
    <resultMap id="BaseResultMap2" type="yj.core.zudlist.dto.Zudlist">
        <result column="ZUDNUM" property="zudnum" jdbcType="VARCHAR" />
        <result column="ITEM" property="item" jdbcType="VARCHAR" />
        <result column="ZQJJLH" property="zqjjlh" jdbcType="VARCHAR" />
        <result column="ZPGDBAR" property="zpgdbar" jdbcType="VARCHAR" />
        <result column="VORNR" property="vornr" jdbcType="VARCHAR" />
        <result column="ZXHBAR" property="zxhbar" jdbcType="VARCHAR" />
        <result column="ZPGDBAR2" property="zpgdbar2" jdbcType="VARCHAR" />
        <result column="MATNR" property="matnr" jdbcType="VARCHAR" />
        <result column="MATNR2" property="matnr2" jdbcType="VARCHAR" />
        <result column="ZGJBAR" property="zgjbar" jdbcType="VARCHAR" />
        <result column="ZDNUM" property="zdnum" jdbcType="DECIMAL" />
        <result column="GMEIN" property="gmein" jdbcType="VARCHAR" />
        <result column="CHARG2" property="charg2" jdbcType="VARCHAR" />
        <result column="CHARG" property="charg" jdbcType="VARCHAR" />
        <result column="DIECD" property="diecd" jdbcType="VARCHAR" />
        <result column="SFFLG" property="sfflg" jdbcType="VARCHAR" />
        <result column="ZQXDM" property="zqxdm" jdbcType="VARCHAR" />
        <result column="ZISSUETXT" property="zissuetxt" jdbcType="VARCHAR" />
        <result column="ZBPJC" property="zbpjc" jdbcType="VARCHAR" />
        <result column="ZOPLO" property="zoplo" jdbcType="VARCHAR" />
        <result column="ZBANZ" property="zbanz" jdbcType="VARCHAR" />
        <result column="ZBANC" property="zbanc" jdbcType="VARCHAR" />
        <result column="RSPART" property="rspart" jdbcType="VARCHAR" />
        <result column="RSNAME" property="rsname" jdbcType="VARCHAR" />
        <result column="REVIEWC" property="reviewc" jdbcType="VARCHAR" />
        <result column="GSTRP" property="gstrp" jdbcType="VARCHAR" />
        <result column="MARK" property="mark" jdbcType="VARCHAR" />
        <result column="RUECK" property="rueck" jdbcType="VARCHAR" />
        <result column="RMZHL" property="rmzhl" jdbcType="VARCHAR" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
        <result column="CREATION_DATE" property="creationDate" jdbcType="DATE"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LINE_ID" property="lineId" jdbcType="VARCHAR"/>
        <result column="ZOTYPE" property="zotype" jdbcType="VARCHAR"/>
        <result column="DESCRIPTIONS" property="descriptions" jdbcType="VARCHAR"/>
        <result column="SORTL" property="sortl" jdbcType="VARCHAR"/>
        <result column="MAKTX" property="maktx" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectByLineId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select distinct zudnum from wip_zudlist
        <where>
            line_id = #{lineId}
            AND status != '1'
            <if test="zudnum != null">
                and zudnum = #{zudnum}
            </if>
        </where>
    </select>

    <select id="selectDftdtl" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from wip_zudlist
        <where>
            matnr2 = #{matnr2}
            AND ZISSUETXT = #{zissuetxt}
        </where>
    </select>

    <select id="selectZudlist" parameterType="java.lang.String" resultMap="BaseResultMap2">
        select distinct zl.*,li.descriptions,cu.sortl,ma.maktx,re.zotype,zl.CREATION_DATE as createDate
        from wip_zudlist zl,wip_zudhead zh,wip_lines li,sap_cust cu,sap_marc ma,wip_in_out_record re
        <where>
            zh.zudnum = zl.zudnum
            AND li.line_id = zl.line_id
            AND cu.kunnr = zl.zbpjc
            AND ma.matnr = zl.matnr2
            AND re.zqjjlh = zl.zqjjlh
            <if test="status != null">
                AND zl.STATUS = #{status}
            </if>
            <if test="deptId != null">
                AND li.dept_id = #{deptId}
            </if>
            <if test="lineId != null">
                AND (zl.line_id = #{lineId} or li.pline_id = #{lineId})
            </if>
            <if test="creationDateAfter != null">
                AND zh.creation_date >= #{creationDateAfter}
            </if>
            <if test="creationDateBefore != null">
                AND #{creationDateBefore} >= zh.creation_date
            </if>
            <if test="zudnum != null">
                AND zh.zudnum = #{zudnum}
            </if>
            <if test="createdBy != null">
                AND zh.created_by = #{createdBy}
            </if>
        </where>
    </select>

    <insert id="insertItem" parameterType="yj.core.zudlist.dto.Zudlist">
        insert INTO  wip_zudlist(ZUDNUM,ITEM,LINE_ID,ARBPR,ZQJJLH,ZPGDBAR,VORNR,ZXHBAR,ZPGDBAR2,MATNR,MATNR2,ZGJBAR,ZDNUM,GMEIN,CHARG2,CHARG,DIECD,SFFLG,ZQXDM,
        ZISSUETXT,ZBPJC,ZOPLO,ZBANZ,ZBANC,RSPART,RSNAME,REVIEWC,GSTRP,MARK,RUECK,RMZHL,STATUS,CREATION_DATE,CREATED_BY)VALUES (#{zudnum},#{item},#{lineId},#{arbpr},#{zqjjlh},#{zpgdbar},#{vornr},#{zxhbar},#{zpgdbar2},#{matnr},
        #{matnr2},#{zgjbar},#{zdnum},#{gmein},#{charg2},#{charg},#{diecd},
        #{sfflg},#{zqxdm},#{zissuetxt},#{zbpjc},#{zoplo},#{zbanz},#{zbanc},#{rspart},#{rsname},#{reviewc},#{gstrp},#{mark},#{rueck},#{rmzhl},#{status},#{creationDate},#{createdBy})
    </insert>

    <update id="updateItem" parameterType="yj.core.zudlist.dto.Zudlist">
        update wip_zudlist set LAST_UPDATE_DATE = #{lastUpdateDate},
        LAST_UPDATED_BY = #{lastUpdatedBy}
        <if test="rueck != null">
            ,RUECK = #{rueck}
        </if>
        <if test="rmzhl != null">
            ,RMZHL = #{rmzhl}
        </if>
        <if test="status != null">
            ,STATUS = #{status}
        </if>
        <if test="reviewc != null">
            ,REVIEWC = #{reviewc}
        </if>
        <where>
            ZUDNUM = #{zudnum}
            and ITEM = #{item}
        </where>
    </update>

    <select id="selectByZudnumForUnprocess" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from wip_zudlist
        <where>
            ZUDNUM = #{zudnum}
            and STATUS = '0'
        </where>
    </select>

    <select id="selectByIdAndItem" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from wip_zudlist
        <where>
            ZUDNUM = #{zudnum}
            and ITEM = #{item}
        </where>
    </select>
</mapper>