<#include "../include/header.html">
    <style>
        #label1 {
            color: red;
        }

        #label2 {
            color: red;
        }

        #label3 {
            color: red;
        }

        #label4 {
            color: red;
        }

        #label5 {
            color: red;
        }

        #label6 {
            color: red;
        }

        #label7 {
            color: red;
        }

        #label8 {
            color: red;
        }
    </style>
    <div id="content-container">
        <div id="page-content">
            <div class="panel" style="padding: 0px;border:none;box-shadow: none;">
                <form class="form-horizontal" id="myForm">
                    <div class="panel-body">
                        <div id="test">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">工厂&nbsp;<label
                                                id="label1">*</label></label>
                                        <div class="col-sm-8">
                                            <input type="text" id="werks" style="width: 100%" class="k-textbox" readonly="readonly" data-bind="value:model.werks">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">生产车间&nbsp;<label id="label2">*</label></label>
                                        <div class="col-sm-8">
                                            <input id="deptId" class="k-textbox" data-bind="value:model.deptId" style="width: 100%">
                                            <script>
                                                $("#deptId").kendoLov($.extend(${lovProvider.getLov(base.contextPath, base.locale, "LOV_UNIT_FEVOR")}, {
                                                    query: function (e) {
                                                        e.param['enabledFlag'] = 'Y';
                                                    }
                                                }));
                                            </script>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">生产线&nbsp;<label
                                                id="label3">*</label></label>
                                        <div class="col-sm-8">
                                            <input id="line_id" class="k-textbox" data-bind="value:model.line_id"
                                                   style="width: 100%">
                                            <script>
                                                $("#line_id").kendoLov($.extend(${lovProvider.getLov(base.contextPath, base.locale, "LOV_LINE_NEW")}, {
                                                    query: function (e) {
                                                        e.param['deptId'] = document.getElementById("deptId").value;
                                                        e.param['enabledFlag'] = 'Y';
                                                    }
                                                }))
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">产品名称&nbsp;<label
                                                id="label4">*</label></label>
                                        <div class="col-sm-8">
                                            <input type="text" id="pmatnr" style="width: 100%" class="k-textbox" readonly="readonly" data-bind="value:model.pmatnr">

                                            <script>
                                                $("#pmatnr").kendoLov($.extend(${lovProvider.getLov(base.contextPath, base.locale, "LOV_PRODUCT")}, {
                                                    query: function (e) {
                                                        e.param['lineId'] = document.getElementById("line_id").value;
                                                        e.param['enabledFlag'] = 'Y';
                                                    }
                                                }))
                                            </script>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">开始日期&nbsp;<label id="label5">*</label></label>
                                        <div class="col-sm-8">
                                            <input id="datestart" style="width: 100%" data-role="datepicker"
                                                   data-bind="value:model.gstrps" class="k-datepicker">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">统计范围&nbsp;<label id="label6">*</label></label>
                                        <div class="col-sm-8">
                                            <input id="combobox" name="combobox" required placeholder="请选择统计范围" data-role="combobox" data-value-primitive="true" data-text-field="text" data-value-field="value"
                                                   data-bind="enabled: isEnabled, source: comboboxSource, value:model.classgrp" style="width: 100%;"/>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
                <div class="row" style="margin-right: -8px;">
                    <div class="pull-right" style="margin-right:15px">
                                <span class="btn btn-primary" data-bind="click:queryGrid"
                                      type="submit">
                                <i class="fa fa-search" style="margin-right:3px;"></i>
                            <@spring.message "hap.query"/></span>
                        <span class="btn btn-default" type="button" data-bind="click:resetForm">
                                <i class="fa fa-eraser" style="margin-right:3px;"></i>
                            <@spring.message "hap.reset"/></span>
                        <span class="btn btn-info" type="button" id="panel_hidden" onclick="test()">
                                <i class="fa fa-joomla" style="margin-right:3px;"></i>
                           <@spring.message "hap.panel_hidden"/></span>
                        <span class="btn btn-info" type="button" id="panel_show" onclick="test()"
                              style="display: none">
                                <i class="fa fa-joomla" style="margin-right:3px;"></i>
                           <@spring.message "hap.panel_show"/></span>
                    </div>
                </div>
                <div id="main" style="width:1600px;height:580px;"></div>
                <div id="div1"></div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var viewModel = kendo.observable({
            model: {
                werks:"1001"
            },
            comboboxSource: [{
                text: "按日统计",
                value: "D"
            }, {
                text: "按周统计",
                value: "W"
            }, {
                text: "按月统计",
                value: "M"
            }],
            resetForm: function () {
                var formData = viewModel.model.toJSON();
                for (var k in formData) {
                    viewModel.model.set(k, null);
                }
                $('#Grid').data('kendoGrid').dataSource.read();
            },
            queryGrid: function (e) {
                var werks = document.getElementById("werks").value;
                var deptId = document.getElementById("deptId").value;
                var line_id = document.getElementById("line_id").value;
                var datestart = document.getElementById("datestart").value;
                var classgrp = document.getElementById("combobox").value;
                var pmatnr = document.getElementById("pmatnr").value;
                var l_error = "";
                if (werks == ""){
                    l_error = "E";
                    kendo.ui.showErrorDialog({
                        title: '错误',
                        message: "工厂为比输条件！"
                    });
                }

                if (deptId == ""){
                    l_error = "E";
                    kendo.ui.showErrorDialog({
                        title: '错误',
                        message: "生产车间为比输条件！"
                    });
                }

                if (line_id == ""){
                    l_error = "E";
                    kendo.ui.showErrorDialog({
                        title: '错误',
                        message: "生产线为比输条件！"
                    });
                }

                if (classgrp == ""){
                    l_error = "E";
                    kendo.ui.showErrorDialog({
                        title: '错误',
                        message: "统计范围为必输条件！"
                    });
                }

                if (pmatnr == ""){
                    l_error = "E";
                    kendo.ui.showErrorDialog({
                        title: '错误',
                        message: "产品名称为必输条件！"
                    });
                }

                if(l_error == ""){
                    $.ajax({
                        url: "${base.contextPath}/wip/zudlist/balutChartReport",
                        type: "get",
                        data:{
                            "werks":werks,
                            "deptId":deptId,
                            "line_id":line_id,
                            "datestart":datestart,
                            "classgrp":classgrp,
                            "pmatnr":pmatnr
                        },
                        async: false,
                        contentType: "application/json; charset=utf-8",
                        success: function (res) {
                            if (res.success == true){
                                var xiangmu = res.rows[0];
                                var num = res.rows[1];
                                var rateall = res.rows[2];
                                var rate = res.rows[3];
                                var sum = res.rows[4];
                                myChart.setOption({
                                    xAxis: {
                                        data: xiangmu
                                    },
                                    yAxis:[
                                        {
                                            name:"不良数",
                                            yAxisIndex:0,
                                            min:0,
                                            max:sum,
                                            data:[0,sum]
                                        }
                                    ],
                                    series: [
                                        {
                                            // 根据名字对应到相应的系列
                                            name: '不良数',
                                            data: num
                                        },
                                        {
                                            // 根据名字对应到相应的系列
                                            name: '累计不良比',
                                            data: rateall
                                        }
                                    ]
                                });

                            }else{
                                kendo.ui.showErrorDialog({
                                    title: '错误',
                                    message: res.message
                                });
                            }
                        },
                        error:function (res) {
                            kendo.ui.showErrorDialog({
                                title: '错误',
                                message: "未能获取到数据！"
                            });
                        }

                    });
                }
            }

        });

        kendo.bind($('#page-content'), viewModel);

        function test() {
            var apply = $("#test");
            var button_hidden = $("#panel_hidden");
            var button_show = $("#panel_show");
            if (apply.is(":hidden")) {
                button_hidden.show();
                button_show.hide();
                apply.show();    //如果元素为隐藏,则将它显现
            } else {
                button_hidden.hide();
                button_show.show();
                apply.hide();     //如果元素为显现,则将其隐藏
            }
        }

        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        option = {
            color:['#FF4500','#0000EE'],
            title: {
                text: '产品不良柏拉图'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data:['不良数','累计不良比']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '15%'
                //containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                name:'不良项目',
                nameLocation:'end',
                type: 'category',
                axisLabel:{
                    rotate:'30'
                },
                axisTick: {
                    alignWithLabel: true
                }
                //data: ['2019-01-01','2019-01-02','2019-01-03','2019-01-04','2019-01-05','2019-01-06','2019-01-07','2019-01-08','2019-01-09','2019-01-10']
            },
            yAxis: [
                {
                type: 'value',
                name:'不良数',
                position: 'left'
                },
                {
                    type: 'value',
                    name:'累计不良比',
                    min: 0,
                    max: 100,
                    splitNumber:1,
                    position: 'right',
                    axisLabel: {
                        formatter: '{value} %'
                    },
                    data:[0,100]

                }
            ],
            series: [
                {
                    name:'不良数',
                    type:'bar'

                    //data:[120, 132, 101, 134, 90, 230, 210]
                },
                {
                    name:'累计不良比',
                    type:'line',
                    yAxisIndex:1

                    //data:[220, 182, 191, 234, 290, 330, 310]
                }
            ]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
    </body>
    </html>