<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yj.core.dispatch.mapper.InputLogMapper">
    <resultMap id="BaseResultMap" type="yj.core.dispatch.dto.InputLog">
        <result column="id" property="id" jdbcType="DECIMAL" />
        <result column="barcode" property="barcode" jdbcType="VARCHAR" />
        <result column="orderno" property="orderno" jdbcType="VARCHAR" />
        <result column="dispatch" property="dispatch" jdbcType="VARCHAR" />
        <result column="operation" property="operation" jdbcType="VARCHAR" />
        <result column="yeild" property="yeild" jdbcType="DECIMAL" />
        <result column="work_scrap" property="workScrap" jdbcType="DECIMAL" />
        <result column="row_scrap" property="rowScrap" jdbcType="DECIMAL" />
        <result column="classno" property="classno" jdbcType="VARCHAR" />
        <result column="classgrp" property="classgrp" jdbcType="VARCHAR" />
        <result column="shop_code" property="shopCode" jdbcType="VARCHAR" />
        <result column="line" property="line" jdbcType="VARCHAR" />
        <result column="model_no" property="modelNo" jdbcType="VARCHAR" />
        <result column="posting_date" property="postingDate" jdbcType="VARCHAR" />
        <result column="plant" property="plant" jdbcType="VARCHAR" />
        <result column="attr1" property="attr1" jdbcType="VARCHAR" />
        <result column="attr2" property="attr2" jdbcType="VARCHAR" />
        <result column="attr3" property="attr3" jdbcType="VARCHAR" />
        <result column="attr4" property="attr4" jdbcType="VARCHAR" />
        <result column="attr5" property="attr5" jdbcType="VARCHAR" />
        <result column="attr6" property="attr6" jdbcType="VARCHAR" />
        <result column="attr7" property="attr7" jdbcType="VARCHAR" />
        <result column="attr8" property="attr8" jdbcType="VARCHAR" />
        <result column="attr9" property="attr9" jdbcType="VARCHAR" />
        <result column="attr10" property="attr10" jdbcType="VARCHAR" />
        <result column="attr11" property="attr11" jdbcType="VARCHAR" />
        <result column="attr12" property="attr12" jdbcType="VARCHAR" />
        <result column="attr13" property="attr13" jdbcType="VARCHAR" />
        <result column="attr14" property="attr14" jdbcType="VARCHAR" />
        <result column="attr15" property="attr15" jdbcType="VARCHAR" />
        <result column="msgty" property="msgty" jdbcType="VARCHAR" />
        <result column="msgtx" property="msgtx" jdbcType="VARCHAR" />
        <result column="tran_type" property="tranType" jdbcType="VARCHAR" />
        <result column="CREATION_DATE" property="creatDate" jdbcType="VARCHAR" />
        <result column="LCREATION_DATE" property="logCreatDate" jdbcType="VARCHAR" />
        <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
        <result column="mat_desc" property="matDesc" jdbcType="VARCHAR" />

        <result column="material" property="material" jdbcType="VARCHAR" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
    </resultMap>
    <resultMap id="BaseResultMap1" type="yj.core.dispatch.dto.InputLog">
        <result column="id" property="id" jdbcType="DECIMAL" />
        <result column="barcode" property="barcode" jdbcType="VARCHAR" />
        <result column="orderno" property="orderno" jdbcType="VARCHAR" />
        <result column="dispatch" property="dispatch" jdbcType="VARCHAR" />
        <result column="operation" property="operation" jdbcType="VARCHAR" />
        <result column="yeild" property="yeild" jdbcType="DECIMAL" />
        <result column="work_scrap" property="workScrap" jdbcType="DECIMAL" />
        <result column="row_scrap" property="rowScrap" jdbcType="DECIMAL" />
        <result column="classno" property="classno" jdbcType="VARCHAR" />
        <result column="classgrp" property="classgrp" jdbcType="VARCHAR" />
        <result column="shop_code" property="shopCode" jdbcType="VARCHAR" />
        <result column="line" property="line" jdbcType="VARCHAR" />
        <result column="model_no" property="modelNo" jdbcType="VARCHAR" />
        <result column="posting_date" property="postingDate" jdbcType="VARCHAR" />
        <result column="plant" property="plant" jdbcType="VARCHAR" />
        <result column="attr1" property="attr1" jdbcType="VARCHAR" />
        <result column="attr2" property="attr2" jdbcType="VARCHAR" />
        <result column="attr3" property="attr3" jdbcType="VARCHAR" />
        <result column="attr4" property="attr4" jdbcType="VARCHAR" />
        <result column="attr5" property="attr5" jdbcType="VARCHAR" />
        <result column="attr6" property="attr6" jdbcType="VARCHAR" />
        <result column="attr7" property="attr7" jdbcType="VARCHAR" />
        <result column="attr8" property="attr8" jdbcType="VARCHAR" />
        <result column="attr9" property="attr9" jdbcType="VARCHAR" />
        <result column="attr10" property="attr10" jdbcType="VARCHAR" />
        <result column="attr11" property="attr11" jdbcType="VARCHAR" />
        <result column="attr12" property="attr12" jdbcType="VARCHAR" />
        <result column="attr13" property="attr13" jdbcType="VARCHAR" />
        <result column="attr14" property="attr14" jdbcType="VARCHAR" />
        <result column="attr15" property="attr15" jdbcType="VARCHAR" />
        <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    </resultMap>


    <select id="queryInputLogById" resultMap="BaseResultMap1">
      SELECT *
      FROM confirmation_input_log
      WHERE id=#{id}
    </select>

    <insert id="insertInputLog" parameterType="yj.core.dispatch.dto.InputLog">
        INSERT INTO confirmation_input_log(
        barcode,orderno,dispatch,operation,yeild,work_scrap,row_scrap,classno,classgrp,shop_code,line,model_no,posting_date,plant,
        attr1,attr2,attr3,attr4,attr5,attr6,attr7,attr8,attr9,attr10,attr11,attr12,attr13,attr14,attr15,CREATED_BY
        )
        VALUES (
        #{barcode}, #{orderno},#{dispatch},
        #{operation},#{yeild},#{workScrap},#{rowScrap},#{classno},#{classgrp},#{shopCode},#{line},#{modelNo},#{postingDate},#{plant},
        #{attr1},#{attr2},#{attr3},#{attr4},#{attr5},#{attr6},#{attr7},#{attr8},#{attr9},#{attr10},#{attr11},#{attr12},#{attr13},#{attr14},#{attr15},#{created_by}
        )
    </insert>
<!--
    报功结果/报功冲销
-->
    <select id="queryAllBg" resultMap="BaseResultMap" parameterType="yj.core.dispatch.dto.InputLog">
        SELECT
        DISTINCT
        il.id,
        il.orderno,
        il.operation,
        il.CREATION_DATE,
        il.posting_date,
        il.yeild,
        il.work_scrap,
        il.row_scrap,
        il.classgrp,
        il.model_no,
        il.line,
        il.plant,
        il.CREATED_BY,
        r.mat_desc,
        r.material,
        u.user_name

        FROM confirmation_input_log il,confirmation_result r,sys_user u,confirmation_log l
        <where>
            il.id= r.input_id
            AND il.CREATED_BY = u.user_id
            AND l.ref_id = il.id
            AND r.is_reversed ='0'
            AND l.tran_type = '0'
            AND l.msgty = 'S'

            <if test="plant != null">
                 and il.plant = #{plant}
            </if>
            <if test="orderno != null">
                and il.orderno = #{orderno}
            </if>
            <if test="operation != null">
                and il.operation = #{operation}
            </if>
            <if test="material != null">
                and r.material = #{material}
            </if>
            <if test="creatDateAfter != null and creatDateBefore != null">
                and il.CREATION_DATE  >=  #{creatDateAfter}  and  #{creatDateBefore} > il.CREATION_DATE
            </if>

            <if test="postingDateAfter != null and postingDateBefore != null">
                and  il.posting_date  >=  #{postingDateAfter} and #{postingDateBefore} > il.posting_date
            </if>
        </where>

    </select>


    <!--
        报功日志
    -->
    <select id="queryAllLog" resultMap="BaseResultMap" parameterType="yj.core.dispatch.dto.InputLog">
        SELECT
        il.id,
        il.plant,
        il.orderno,
        il.operation,
        il.CREATION_DATE,
        il.posting_date,
        il.classgrp,
        il.classgrp,
        il.line,
        il.model_no,
        l.msgty,
        l.msgtx,
        l.CREATION_DATE  AS LCREATION_DATE,
        l.tran_type,
        il.CREATED_BY,
        r.mat_desc,
        r.material,
        u.user_name

        FROM confirmation_input_log il,confirmation_result r,sys_user u,confirmation_log l

        <where>
            il.id= r.input_id
            AND il.CREATED_BY = u.user_id
            AND l.ref_id = il.id



            <if test="plant != null">
                and il.plant = #{plant}
            </if>
            <if test="orderno != null">
                and il.orderno = #{orderno}
            </if>
            <if test="operation != null">
                and il.operation = #{operation}
            </if>
            <if test="material != null">
                and r.material = #{material}
            </if>
            <if test="creatDateAfter != null and creatDateBefore != null">
                and il.CREATION_DATE  >=  #{creatDateAfter}  and  #{creatDateBefore} > il.CREATION_DATE
            </if>

            <if test="postingDateAfter != null and postingDateBefore != null">
                and  il.posting_date  >=  #{postingDateAfter} and #{postingDateBefore} > il.posting_date
            </if>
        </where>

    </select>
    <select id="selectNextId" resultType="java.lang.Long">
        SELECT LAST_INSERT_ID()
    </select>
    <select id="confirmationInfoByOrdernoAndOperation" resultMap="BaseResultMap1" parameterType="yj.core.dispatch.dto.InputLog">
        select *
        from confirmation_input_log i
        inner join confirmation_result r on i.id = r.input_id
        inner join confirmation_log l on i.id = l.ref_id
        <where>
            i.orderno = #{orderno} and i.operation = #{operation} and r.is_reversed = '0' and l.msgty = 'S' and l.tran_type = '0'
        </where>
    </select>

    <select id="queryAllGTOperation" resultMap="BaseResultMap1" parameterType="yj.core.dispatch.dto.InputLog">
        select *
        from confirmation_input_log i
        inner join confirmation_result r on i.id = r.input_id
        inner join confirmation_log l on i.id = l.ref_id
        <where>
            i.orderno = #{orderno} and i.operation > #{operation} and r.is_reversed = '0' and l.msgty = 'S' and l.tran_type = '0'
        </where>
    </select>


    <select id="confirmationMaxOperationInfo" resultMap="BaseResultMap1" parameterType="yj.core.dispatch.dto.InputLog">
        select *
        from confirmation_input_log i
        <where>
            i.orderno = #{orderno}
            and i.operation
            in(
                select MAX(ci.operation) from confirmation_input_log ci
                inner join confirmation_result r on ci.id = r.input_id
                inner join confirmation_log l on ci.id = l.ref_id
                where ci.orderno = #{orderno} and  #{operation} > ci.operation and r.is_reversed = '0' and l.msgty = 'S' and l.tran_type = '0'
            )
        </where>


    </select>





</mapper>