<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yj.core.wipcggroupdes.mapper.CggroupDesMapper">
    <resultMap id="BaseResultMap" type="yj.core.wipcggroupdes.dto.CggroupDes">
        <result column="cggroup" property="cggroup" jdbcType="VARCHAR" />
        <result column="cggroupname" property="cggroupname" jdbcType="VARCHAR" />
    </resultMap>


</mapper>