<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yj.core.wipshotinput.mapper.ShotInputMapper">
    <resultMap id="BaseResultMap" type="yj.core.wipshotinput.dto.ShotInput">
        <result column="WERKS" property="werks" jdbcType="VARCHAR"/>
        <result column="FEVOR" property="fevor" jdbcType="VARCHAR"/>
        <result column="TXT" property="txt" jdbcType="VARCHAR"/>
        <result column="ARBPL" property="arbpl" jdbcType="VARCHAR"/>
        <result column="KTEXT" property="ktext" jdbcType="VARCHAR"/>
        <result column="PRD_DATE" property="prdDate" jdbcType="DATE"/>
        <result column="SHIFTS" property="shifts" jdbcType="VARCHAR"/>
        <result column="S_CLASS" property="sClass" jdbcType="VARCHAR"/>
        <result column="SHOT_START" property="shotStart" jdbcType="DECIMAL"/>
        <result column="SHOT_END" property="shotEnd" jdbcType="DECIMAL"/>
        <result column="SHOT_NUM" property="shotNum" jdbcType="DECIMAL"/>
        <result column="YEILD" property="yeild" jdbcType="DECIMAL"/>
        <result column="WASTE_NUM" property="wasteNum" jdbcType="DECIMAL"/>
        <result column="DIFFERENT_NUM" property="differentNum" jdbcType="DECIMAL"/>
        <result column="BRGEW" property="brgew" jdbcType="VARCHAR"/>
        <result column="SHIFT_SEQ" property="shiftSeq" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectShotInput" parameterType="yj.core.wipshotinput.dto.ShotInput" resultMap="BaseResultMap">
        select sh.*,fe.shift_seq from wip_shot_input sh,sap_fevor fe
        <where>
            sh.fevor = fe.fevor
            <if test="werks != null">
                AND sh.werks = #{werks}
            </if>
            <if test="fevor != null">
                AND sh.fevor = #{fevor}
            </if>
            <if test="prdDateAfter != null">
                AND  sh.prd_date >= #{prdDateAfter}
            </if>
            <if test="prdDateBefore != null">
                AND #{prdDateBefore} >= sh.prd_date
            </if>
        </where>
        order by sh.fevor asc,sh.arbpl asc,sh.prd_date asc,sh.shifts asc
    </select>

    <select id="queryShotInput" parameterType="yj.core.wipshotinput.dto.ShotInput" resultType="yj.core.wipshotinput.dto.ShotInput">
        select * from wip_shot_input
        <where>
            werks = #{werks}
            AND fevor = #{fevor}
            AND arbpl = #{arbpl}
            AND PRD_DATE = #{prdDate}
            AND shifts = #{shifts}
        </where>
    </select>

    <update id="updateShotInput" parameterType="yj.core.wipshotinput.dto.ShotInput">
        update wip_shot_input set werks = #{werks},fevor = #{fevor},txt = #{txt},arbpl = #{arbpl},ktext = #{ktext},PRD_DATE = #{prdDate},shifts = #{shifts},
                          S_CLASS = #{sClass},SHOT_START = #{shotStart},SHOT_END = #{shotEnd},SHOT_NUM = #{shotNum},yeild = #{yeild},WASTE_NUM = #{wasteNum},
                          DIFFERENT_NUM = #{differentNum},brgew = #{brgew},LAST_UPDATE_DATE = #{lastUpdateDate},LAST_UPDATED_BY = #{lastUpdatedBy}
        <where>
            werks = #{werks}
            AND fevor = #{fevor}
            AND arbpl = #{arbpl}
            AND PRD_DATE = #{prdDate}
            AND shifts = #{shifts}
        </where>
    </update>

    <insert id="insertShotInput" parameterType="yj.core.wipshotinput.dto.ShotInput" >
        insert INTO wip_shot_input(WERKS,FEVOR,TXT,ARBPL,KTEXT,PRD_DATE,SHIFTS,S_CLASS,SHOT_START,SHOT_END,
                                    SHOT_NUM,YEILD,WASTE_NUM,DIFFERENT_NUM,BRGEW,CREATED_BY,CREATION_DATE)
        VALUES (#{werks},#{fevor},#{txt},#{arbpl},#{ktext},#{prdDate},#{shifts},#{sClass},#{shotStart},#{shotEnd},
                #{shotNum},#{yeild},#{wasteNum},#{differentNum},#{brgew},#{createdBy},#{creationDate})
    </insert>
</mapper>