<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yj.core.outsrgissuehead.mapper.OutsrgissueheadMapper">
    <resultMap id="BaseResultMap" type="yj.core.outsrgissuehead.dto.Outsrgissuehead">
        <result column="ISSUENM" property="issuenm" jdbcType="VARCHAR" />
        <result column="WERKS" property="werks" jdbcType="VARCHAR" />
        <result column="TXZ01" property="txz01" jdbcType="VARCHAR" />
        <result column="LIFNR" property="lifnr" jdbcType="VARCHAR" />
        <result column="MATNR" property="matnr" jdbcType="VARCHAR" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
        <result column="PRTFLAG" property="prtflag" jdbcType="VARCHAR" />
    </resultMap>


</mapper>