<!--
    看板设备维护 918100064
-->
<#include "../include/header.html" >
    <style>
        span[class='k-window-title'] {
            user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;
            -webkit-touch-callout: none;
        }
        .label{
            color: red;
        }
    </style>
    <script type="text/javascript">
    </script>
    <body>
    <button onclick="download()" >下载</button>
    <!-- 显示文件列表的div -->
    <div>
        <h4 style="margin-left: 6px;margin-top: 6px">历史操作文件列表</h4>
        <input name="files" id="files" type="file" />
        <div id="file_view_list"></div>
    </div>
    <script>
        function download() {
            $.ajax({
                url: "${base.contextPath}/kanb/picture/download",
                type: "get",
                data: {
                    "fileId": '29'
                },
                async: false,
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                },
                error:function (data) {
                    kendo.ui.showErrorDialog({
                        title: '错误',
                        message: "未能获取到合格率数据！"
                    });
                }
            })
        }
        $(document).ready(function(){
            //定义一个数据源
            var dataSource = new kendo.data.DataSource({
                batch       : true,
                serverPaging: true,
                pageSize    : 10,
                schema      : {
                    data  : 'rows',
                    total : 'total',
                    model : {
                        id    : "fileId"
                    }
                }
            });

            //定义一个Grid
            $("#file_view_list").kendoGrid({
                dataSource: dataSource,
                navigatable: true,
                height:'100%',
                //width:500,
                resizable : true,
                scrollable: true,
                pageable  : {
                    pageSizes  : [5, 10, 20, 50],
                    refresh    : true,
                    buttonCount: 5
                },
                columns   : [
                    {
                        field    : "token",
                        hidden   : true,
                    },
                    {
                        field    : "fileId",
                        title    : '上传编号'
                    },
                    {
                        field    : "fileName",
                        title    : '附件名字'
                    },
                    {
                        field    : "fileSize",
                        title    : '附件大小'
                    },
                    {
                        field    : "fileType",
                        title    : '附件类型'
                    },
                    {
                        field    : "uploadDate",
                        title    : '上传日期'
                    },
                    {
                        title     : '操作',
                        attributes: {style: "text-align:center;padding:0px"},
                        command   : [{
                            text  : '<@spring.message "hap.delete"/>',
                            click : function (e) {
                                e.preventDefault();
                                var data = this.dataItem($(e.target).closest("tr"));
                                this.dataSource.remove(data)
                            }
                        }],
                        width     : 70
                    }
                ],
                editable  : false
            });

            //设置Grid自适应
            Hap.autoResizeGrid("#file_view_list");

            //定义文件上传
            $("#files").kendoUpload({
                async        : {
                    saveUrl: "${base.contextPath}/sys/attach/upload?${_csrf.parameterName}=${_csrf.token}",
                    removeUrl: "${base.contextPath}/sys/attach/remove"
                },
                autoUpload: true,
                showFileList : true,
                upload       : onUpload,
                success      : onSuccess,
                remove       : onRemove
            });

            function onRemove(e){
                var data = dataSource.data();
                var files = e.files;
                $.each(files,function(){
                    var fileName = this.name;
                    for(var i = 0;i < data.length; i ++){
                        if(data[i].fileName == fileName){
                            e.data = {
                                fileId : data[i].fileId,
                                token : data[i].token
                            }
                        }
                    }
                })
            }

            var countNumber = 1;
            //回调函数

            function onSuccess(e) {
                //状态为成功
                if(e.response.message == "UPLOAD_SUCCESS"){
                    //写数据源
                    dataSource.add({
                        token   : e.response.file._token,
                        fileId   : e.response.file.fileId,
                        fileName : e.response.file.fileName,
                        fileSize : e.response.file.fileSize,
                        fileType : e.response.file.fileType,
                        uploadDate : e.response.file.uploadDate
                    });


                }else if(e.response.message == "success"){
                    //删除成功
                    var data = dataSource.data();
                    var files = e.files;
                    $.each(files,function(){
                        var fileName = this.name;
                        for(var i = 0;i < data.length; i ++){
                            if(data[i].fileName == fileName){
                                e.data = {
                                    fileId : data[i].fileId,
                                    token : data[i].token
                                }
                                dataSource.remove(data[i]);
                            }
                        }
                    })
                }
                kendo.ui.showInfoDialog({
                    title    : '提示信息',
                    message  : e.response.message
                })
            }

            //校验上传文件的格式是否正确
            function onUpload(e){
                var files = e.files;
                var size = "";
                var uploadDate = "";
                var type = "";
                var name = "";
                $.each(files, function () {
                    lowerCase = this.extension.toLowerCase();
                    if (lowerCase != ".png" && lowerCase != ".jpg") {
                        kendo.ui.showInfoDialog({
                            title:'提示信息',
                            message:'文件的格式必须是png或jpg！'
                        })
                        e.preventDefault();
                        return;
                    }else{
                        size = this.size;
                        uploadDate = this.uploadDate;
                        type = this.rawFile.type;
                        name = this.name

                        //$("#size").val(this.size);
//                        $("#uploadDate").val(this.rawFile.lastModifiedDate);
//                        $("type").val(this.rawFile.type);
//                        $("#name").val(this.name);
                    }
                });
                e.data = {
                    sourceType : "PRO",
                    sourceKey  : "1",
//                    id         : $("#id").val(),
                    name       : name,
                    type       : type,
                    //lastModifiedDate : uploadDate,
                    size       : size
                }
            }

        });
    </script>
    </body>
    </html>