<!--
    产线组生产计划维护 918100064
-->
<#include "../include/header.html" >
<style>
    span[class='k-window-title'] {
        user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
    }
    .label{
        color: red;
    }
</style>
<script type="text/javascript">
    var viewModel = kendo.observable({
        model: {
            werks:"1001"
        },
        createFunction: function () {
            $('#Grid').data('kendoGrid').addRow();
        },
        saveFunction: function () {
            var selections = grid.selectedDataItems();
            if(selections.length > 0){
                for (var i=0;i<selections.length;i++){
                    if ((selections[i].plantimestart2 != null)&&((typeof selections[i].plantimestart2) == "object")){
                        selections[i].plantimestart = selections[i].plantimestart2.getTime();
                    }else {
                        selections[i].plantimestart = selections[i].plantimestart2;
                    }
                    if ((selections[i].plantimeend2 != null)&&((typeof selections[i].plantimeend2) == "object")){
                        selections[i].plantimeend = selections[i].plantimeend2.getTime();
                    }else {
                        selections[i].plantimeend = selections[i].plantimeend2;
                    }
                }
                $.ajax({
                    type   : 'POST',
                    url    : _basePath + "/wip/cgroup/plan/submitCgroupPlan",
                    dataType : "json",
                    contentType : "application/json",
                    data   : kendo.stringify(selections),
                    success: function (rows) {
                        var date = rows.rows;
                        for (var i=0;i<date.length;i++){
                            var data = grid.dataSource.at(i);
                            data.set("planpos", date[i].planpos);
                            data.set("remarks", date[i].remarks);
                        }
                        if(rows.success==false){
                            kendo.ui.showErrorDialog({
                                message:rows.message
                            });
                        }
                    }
                });
            }else{
                kendo.ui.showInfoDialog({
                    message: '请先选择一行数据'
                })
            }
        },
        queryResource: function (e) {
            $('#Grid').data('kendoGrid').dataSource.page(1);
        }
    });
</script>
<body>
<div id="page-content">
    <div class="panel" style="padding: 0px;border:none;box-shadow: none;">
        <form class="form-horizontal" id="myForm">
            <div class="panel-body">
                <div id="condition">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">工厂<label class="label">*</label></label>
                                <div class="col-sm-8">
                                    <input id="werks" type="text" style="width: 100%" data-bind="value:model.werks" class="k-textbox">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">部门</label>
                                <div class="col-sm-8">
                                    <input id="deptId" class="k-textbox" data-bind="value:model.deptId" style="width: 100%">
                                    <script>
                                        $("#deptId").kendoLov($.extend(${lovProvider.getLov(base.contextPath, base.locale, "LOV_UNIT_NEW2")}, {
                                            query: function (e) {
                                                e.param['enabledFlag'] = 'Y';
                                            }
                                        }));
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">产线组</label>
                                <div class="col-sm-8">
                                    <input id="cgroup" class="k-textbox" data-bind="value:model.cgroup" style="width: 100%">
                                    <script>
                                        $("#cgroup").kendoLov($.extend(${lovProvider.getLov(base.contextPath, base.locale, "LOV_CGROUP")}, {
                                            query: function (e) {
                                                e.param['deptId'] = document.getElementById("deptId").value;
                                                e.param['enabledFlag'] = 'Y';
                                            }
                                        }));
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">生产计划日期</label>
                                <div class="col-sm-8">
                                    <input id="plandate" style="width: 100%" data-role="datepicker" data-bind="value:model.plandate" class="k-datepicker">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <script>
            kendo.bind($('#myForm'), viewModel);
        </script>
    </div>
    <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
        <span class="btn btn-primary k-grid-add" style="float:left;margin-right:5px;" data-bind="click:createFunction"><@spring.message "hap.new"/></span>
        <span onclick="deleteData()" class="btn btn-danger" style="float:left;margin-right:5px;"><@spring.message "hap.delete"/></span>
        <span class="btn btn-success k-grid-save-changes" data-bind="click:saveFunction" type="submit" style="float:left;margin-right:5px;">保存</span>
    </div>
    <script>kendo.bind($('#toolbar-btn'), viewModel);</script>
    <div class="pull-right" id="query-form" style="padding-bottom:10px;">
        <span class="btn btn-primary" style="float:left;width:70px" data-bind="click:queryResource" type="submit"><@spring.message "hap.query"/></span>
        <div style="clear:both"></div>
    </div>
    <script>kendo.bind($('#query-form'), viewModel);</script>
    <div style="clear:both">
        <div id="Grid"></div>
    </div>
</div>
<script type="text/javascript">
    var BaseUrl = _basePath;
    dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: BaseUrl + "/wip/cgroup/plan/queryCgroupPlan",
                type: "POST",
                dataType: "json"
            },
            destroy: {
                url: BaseUrl + "/wip/cgroup/plan/removeCgroupPlan",
                type: "POST",
                contentType: "application/json"
            },
            parameterMap: function (options, type) {
                if (type !== "read" && options.models) {
                    var datas = Hap.prepareSubmitParameter(options, type);
                    return kendo.stringify(datas);
                } else if (type === "read") {
                    return Hap.prepareQueryParameter(viewModel.model.toJSON(), options);
                }
            }
        },
        batch: true,
        serverPaging: true,
        //pageSize: 10,
        schema: {
            data: 'rows',
            total: 'total',
            model: {
                id: "plandate",
                parentId: "werks",
                fields: {
                    werks: {type: "string",defaultValue:"1001",editable:false},
                    plandate: {type: "date"},
                    planqty: {type: "number"}
                }
            }
        }
    });
    $("#Grid").kendoGrid({
        dataSource:dataSource,
        //autoBind:false,
        height:'100%',
        resizable:true,
        scrollable:true,
        navigatable:false,
        editable: true,
        selectable:'multiple,rowbox',
        pageable:{
            pageSizes:["all"],
            refresh:true,
            buttonCount:5
        },
        columns:[
            {
                field:"werks",
                title:"工厂",
                width:80,
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field:"deptId",
                title:"部门",
                width:100,
                template: function (dataItem) {
                    return dataItem['deptId'] || ''
                },
                editor : function (container, options) {
                    $('<input name="'+options.field+'"/>').appendTo(container).kendoLov($.extend(<@lov "LOV_UNIT_NEW2"/>,
                        {
                            textField: 'name',
                            model: options.model
                        }));
                },
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field:"cgroup",
                title:"产线组",
                width:100,
                template: function (dataItem) {
                    return dataItem['cgroup'] || ''
                },
                editor : function (container, options) {
                    $('<input name="'+options.field+'"/>').appendTo(container).kendoLov($.extend(<@lov "LOV_CGROUP"/>,
                        {
                            query: function(e) {
                                e.param['werks'] = options.model.werks;
                                e.param['deptId'] = options.model.deptId;
                            },
                            textField: 'groupName',
                            model: options.model
                        }));
                },
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field:"plandate",
                title:"生产计划日期",
                width:100,
                format: "{0: yyyy-MM-dd}",
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field:"planpos",
                title:"生产计划行",
                width:100,
                hidden:true,
                format: "{0: yyyy-MM-dd}",
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field:"plantimestart2",
                title:"计划开始时间",
                width:100,
                format: "{0: HH:mm:ss}",
                editor:function (container,options) {
                    $('<input name="'+options.field+'"/>').appendTo(container).kendoTimePicker({
                        start: "hour",
                        depth: "hour",
                        format: "HH:mm:ss"
                    })
                },
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field:"plantimeend2",
                title:"计划结束时间",
                width:100,
                format: "{0: HH:mm:ss}",
                editor:function (container,options) {
                    $('<input name="'+options.field+'"/>').appendTo(container).kendoTimePicker({
                        start: "hour",
                        depth: "hour",
                        format: "HH:mm:ss",
                        dateInput: true
                    })
                },
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field:"planqty",
                title:"计划产量",
                width:100,
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field:"classgrp",
                title:"班次",
                width:120,
                template:function (e) {
                    if(e.classgrp == "1"){
                        return "早班";
                    }else if(e.classgrp == "2"){
                        return "中班";
                    }else if(e.classgrp == "3"){
                        return "晚班";
                    }else{
                        return "";
                    }
                },
                editor: function (container,options) {
                    $('<input name="'+options.field+'"/>').appendTo(container).kendoDropDownList({
                        dataTextField: "text",
                        dataValueField: "value",
                        valuePrimitive: true,
                        dataSource: [
                            {text:"早班",value: "1"},
                            {text:"中班",value: "2"},
                            {text:"晚班",value: "3"}
                        ]
                    })
                },
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field:"shift",
                title:"班组",
                width:120,
                template:function (e) {
                    if(e.shift == "A"){
                        return "A班";
                    }else if(e.shift == "B"){
                        return "B班";
                    }else if(e.shift == "C"){
                        return "C班";
                    }else{
                        return "";
                    }
                },
                editor: function (container,options) {
                    $('<input name="'+options.field+'"/>').appendTo(container).kendoDropDownList({
                        dataTextField: "text",
                        dataValueField: "value",
                        valuePrimitive: true,
                        dataSource: [
                            {text:"A班",value: "A"},
                            {text:"B班",value: "B"},
                            {text:"C班",value: "C"}
                        ]
                    })
                },
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field:"remarks",
                title:"备注",
                width:100,
                format:"{0:yyyy-MM-dd}",
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            }
        ]
    });
    var grid = $('#Grid').data("kendoGrid");
    function deleteData() {
        var data = grid.selectedDataItems();
        if(data.length >= 1){
            Hap.deleteGridSelection({
                grid: $('#Grid')
            });
        }else{
            kendo.ui.showInfoDialog({
                message: '请至少选择一行数据'
            })
        }
    }
    Hap.autoResizeGrid("#Grid");
</script>

</body>
</html>