<!--
	图片上传    918100064
-->
<#include "../include/header.html">
<style>
	span[class='k-window-title'] {
		user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-webkit-user-select: none;
		-webkit-touch-callout: none;
	}
	.label{
		color: red;
	}
</style>
<script>
	var isedit = 0;
	var viewModel = kendo.observable({
		model:{
            bukrs:"1000",
			werks:"1001"
		},
        saveFunction:function (e) {
            var data = grid.selectedDataItems();
            if(data.length > 0){
                var tmparry = new Array();
                for (var i = 0;i<data.length;i++) {
                    var viewModel2 = kendo.observable({
                        model: {
                            bukrs: data[i].bukrs,
                            werks: data[i].werks,
                            matnr: data[i].matnr,
                            fileidA: data[i].fileidA,
                            fileidB: data[i].fileidB
                        }
                    });
                    tmparry[i] = viewModel2.model.toJSON();
                }
                $.ajax({
					type:"POST",
					url:_basePath + "/sap/marc/res/submit",
					dataType:"json",
					contentType:"application/json",
					data:JSON.stringify(tmparry),
					success:function(data){
					    if(data.success == false){
					        kendo.ui.showErrorDialog({
								message:data.message
							})
						}else{
                            isedit = 0;
                            $('#Grid').data('kendoGrid').dataSource.page(1);
						}
					}
				})
            }else{
                kendo.ui.showInfoDialog({
                    message: '请先选择一行数据'
                })
            }
        },
        queryResource:function (e) {
            var bukrs = document.getElementById("bukrs").value;
            var werks = document.getElementById("werks").value;
            if(bukrs == null || bukrs == "" || bukrs == ''){
                kendo.ui.showInfoDialog({
                    message:'公司不能为空'
                })
            }else if(werks == null || werks == "" || werks == ''){
                kendo.ui.showInfoDialog({
                    message:'工厂不能为空'
                })
            }else{
                isedit = 0;
                $('#Grid').data('kendoGrid').dataSource.page(1);
            }
        }
	})
</script>
<body style="padding: 10px;">
<div id="page-content">
	<div class="panel" style="padding: 0px;border:none;box-shadow: none;">
		<form class="form-horizontal" id="myForm">
			<div class="panel-body">
				<div id="condition">
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label class="col-sm-4 control-label">公司<label class="label">*</label></label>
								<div class="col-sm-8">
									<input id="bukrs" type="text" style="width: 100%" data-bind="value:model.bukrs" class="k-textbox">
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label class="col-sm-4 control-label">工厂<label class="label">*</label></label>
								<div class="col-sm-8">
									<input id="werks" type="text" style="width: 100%" data-bind="value:model.werks" class="k-textbox">
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label class="col-sm-4 control-label">物料编码</label>
								<div class="col-sm-8">
									<input id="matnr" class="k-textbox" data-bind="value:model.matnr" style="width: 100%">
									<script>
                                        $("#matnr").kendoLov($.extend(${lovProvider.getLov(base.contextPath, base.locale, "LOV_MATNR2")}, {
                                            query: function (e) {
                                                e.param['enabledFlag'] = 'Y';
                                            },
                                            dataTextField:'matnr'
                                        }));
									</script>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<script>
            kendo.bind($('#myForm'), viewModel);
		</script>
	</div>
	<div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
		<span class="btn btn-success k-grid-save-changes" data-bind="click:saveFunction" type="submit" style="float:left;margin-right:5px;">保存</span>
	</div>
	<script>kendo.bind($('#toolbar-btn'), viewModel);</script>
	<div class="pull-right" id="query-form" style="padding-bottom:10px;">
		<span class="btn btn-primary" style="float:left;width:70px" data-bind="click:queryResource" type="submit"><@spring.message "hap.query"/></span>
		<div style="clear:both"></div>
	</div>
	<script>kendo.bind($('#query-form'), viewModel);</script>
	<div style="clear:both">
		<div id="Grid"></div>
	</div>
</div>

<script type="text/javascript">
    var BaseUrl = _basePath;
    var fileIds = "",fileNames = "";
    var dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: BaseUrl + "/sap/marc/queryByMarc",
                type: "POST",
                dataType: "json"
            },
            parameterMap: function (options, type) {
                if (type !== "read" && options.models) {
                    var datas = Hap.prepareSubmitParameter(options, type);
                    return kendo.stringify(datas);
                } else if (type === "read") {
                    return Hap.prepareQueryParameter(viewModel.model.toJSON(), options);
                }
            }
        },
        batch: true,
        serverPaging: true,
        //pageSize: 10,
        schema: {
            data: 'rows',
            total: 'total',
            model: {
                id: "matnr",
                fields: {
                    werks: {type: "string",editable:false},
                    matnr: {type: "string",editable:false},
                    maktx: {type: "string",editable:false},
                    bukrs: {type: "string",editable:false},
                    fileidA: {type: "long"},
                    fileidB: {type:"long"}
                }
            }
        }
    });
    $("#Grid").kendoGrid({
        dataSource:dataSource,
        //autoBind:false,
        height:'100%',
        resizable:true,
        scrollable:true,
        navigatable:false,
        editable: true,
        selectable:'multiple,rowbox',
        pageable:{
            pageSizes:["all"],
            refresh:true,
            buttonCount:5
        },
        columns:[
            {
                field:"bukrs",
                title:"公司",
                width:80,
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field:"werks",
                title:"工厂",
                width:80,
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field:"matnr",
                title:"物料编码",
                width:120,
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field:"maktx",
                title:"物料描述",
                width:240,
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field:"fileidA",
                title:"图片A面",
                width:120,
                editor: uploadPicture,
                template:function (e) {
                    if(isedit == 1){
                        var fileidA = fileIds,fileidAName = fileNames;
                        fileIds = "";
                        fileNames = "";
                        e.fileidA = fileidA;
                        return fileidAName;
					}else{
                        if(e.fileidAName == null){
                            return "";
                        }else {
                            return e.fileidAName;
                        }
					}
                },
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field:"fileidB",
                title:"图片B面",
                width:120,
                template:function (e) {
                    if(isedit == 1){
                        var fileidB = fileIds,fileidBName = fileNames;
                        fileIds = "";
                        fileNames = "";
                        e.fileidB = fileidB;
                        return fileidBName;
                    }else {
                        if(e.fileidBName == null){
                            return "";
						}else {
                            return e.fileidBName;
						}
					}
                },
                editor: uploadPicture,
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            }
        ]
    });
    var grid = $('#Grid').data("kendoGrid");
    Hap.autoResizeGrid("#Grid");
	function uploadPicture(container,options) {
        $('<input type="file" name="' + options.field + '" />').appendTo(container).kendoUpload({
            multiple:false,
            async: {
                saveUrl: "${base.contextPath}/sys/attach/upload?${_csrf.parameterName}=${_csrf.token}",
                removeUrl: "${base.contextPath}/sys/attach/remove"
            },
            upload: onUpload,
            success: onSuccess,
            remove: onRemove,
            localization: {     //设置上传按钮名称
                select: "上传图片"
            }
        });
    }
    //数据源
    var dataSource2 = new kendo.data.DataSource({
        batch       : true,
        serverPaging: true,
        pageSize    : 20,
        schema      : {
            data  : 'rows',
            total : 'total',
            model : {
                id    : "fileId"
            }
        }
    });
    //定义图片上传
    function onRemove(e){
        var data = dataSource2.data();
        var files = e.files;
        $.each(files,function(){
            var fileName = this.name;
            for(var i = 0;i < data.length; i ++){
                if(data[i].fileName == fileName){
                    e.data = {
                        fileId : data[i].fileId,
                        token : data[i].token
                    }
                }
            }
        })
    }
    var countNumber = 1;
    //回调函数
    function onSuccess(e) {
        //状态为成功
        if(e.response.success=== true){
            //写数据源
            dataSource2.add({
                token   : e.response.file._token,
                fileId   : e.response.file.fileId,
                fileName : e.response.file.fileName,
                fileSize : e.response.file.fileSize,
                fileType : e.response.file.fileType,
                uploadDate : e.response.file.uploadDate
            });
            fileIds = e.response.file.fileId;
            fileNames = e.response.file.fileName;
            isedit = 1;
        }
    }
    //校验上传文件的格式是否正确
    function onUpload(e){
        e.data = {
            sourceType : "PRO",
            sourceKey  : "1"
        }
    }
</script>
</body>