<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!DOCTYPE html>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="X-CSRF-TOKEN" />
    <title>工装部盘点</title>

    <!--
        Created by Rebs on 2017/6/12.
    -->

    <!–[if lt IE 9]>
    <Script src="${base.contextPath}/resources/js/IE9.js"></Script>
    <![endif]–>
    <!--
    <Script src="${base.contextPath}/resources/js/yj-pda.js?v=201706261447"></Script>
    -->
    <Script src="${base.contextPath}/resources/js/yj-pda.js"></Script>
    <Script src="${base.contextPath}/resources/js/json2.js"></Script>
    <script src="${base.contextPath}/lib/kendoui/js/jquery.min.js"></script>


    <style type="text/css">
        #dispatch-area{
            margin-top:-7px;
            width:220px;
            height:285px;
            z-index: 999;
        }
        #otherInfo-area{
            background-color: #CCCCCC;

            position: absolute;
            width:220px;
            height:285px;
            z-index: 998;
            top: 0px;
            left: 0px;
        }
        .dcp-label{
            font-size: 16px;
            width: 80px;
            height: 20px;
            display: inline-block;
        }
        .cls-attr-input{
            font-size: 16px;
            width: 120px;
            height: 21px;
            margin-bottom: 1px;
        }
        #mask{
            background-color: #434343;
            opacity:0.5;
            filter: alpha(opacity=50);
            position: absolute;
            left: 0;
            top: 0;
            z-index:1000;
        }
        #mask2{
            background-color: #434343;
            opacity:0.5;
            filter: alpha(opacity=50);
            position: absolute;
            width: 240px;
            height: 320px;
            left: 0;
            top: 0;
            z-index:1001;
        }
        #msg-area{
            background-color: white;
            width: 200px;
            height: 120px;
            top: 50px;
            left: 20px;
            position: absolute;
            z-index: 1002;
        }
        #msg1{
            width:200px;
            height:30px;
            background-color:#F5F1DD;
            border-radius: 5px;
        }
        #msg2{
            width:200px;
            height:60px;
        }
        #msg3{
            width:200px;
            height:30px;
        }
        #text{
            width:100%;
            height:100%;
            float: left;
            font-size: medium;
            font-family: "微软雅黑";
        }
    </style>
    <script>

        window.onload=function () {
            var msg = "";

            var l_error = "";

            var oBcd = document.getElementById("barcode");

            //进入报工页面时，光标定位到条码输入框
            oBcd.focus();


            //获取消息界面DIV页面元素
            var dMsg = document.getElementById("msg-area");            //获取消息界面DIV页面元素

            //获取遮罩层2DIV页面元素
            var dMask2 = document.getElementById("mask2");


            //初始化界面状态
            dMsg.style.display = "none";
            dMask2.style.display = "none";



            var username = getCookie("username");

            //用户登录判定操作
            if (username == "" || username == null) {
                //当用户未登录,返回登录界面
                window.location.href = '${base.contextPath}/yjlogin.html';
                return null;
            } else {
                //当用户登录，在界面展示用户信息，并记下用户id
                document.getElementById("user").innerHTML = username;
                /*var data = {"userName":username}*/
                $.ajax({
                    url: "${base.contextPath}/sys/userrole/queryByUserName",
                    type: "get",
                    data: {"username": username},
                    contentType: "application/json; charset=utf-8",
                    success: function (res) {
                        var userId = JSON.stringify(res.rows[0].userId);
                        createdBy = userId;
                        //document.getElementById("user").innerHTML = userId;
                    }
                });
                $.ajax({
                    url: "${base.contextPath}/hr/employee/queryByCode",
                    type: "get",
                    data: {"code": username},
                    contentType: "application/json; charset=utf-8",
                    success: function (res) {
                        var name = JSON.stringify(res.rows[0].name);
                        name = name.substring(1, name.length - 1);
                        eval("var strname = '" + name + "';")
                        document.getElementById("user").innerHTML = strname;
                    }
                });
            }

            /*用户注销相关操作*/
            //获取注销页面元素
            //获取返回页面元素
            var cLot = document.getElementById("logout");
            var back = document.getElementById("back");

            //注销点击事件
            cLot.onclick = function () {
                delCookie("username");
                window.location.href = '${base.contextPath}/yjloginpd.html';
                return null;
            }

            back.onclick = function () {
                window.location.href = '${base.contextPath}/dispatch2/dispatch_index.html';
                return null;
            }
            var cBarcode = document.getElementById("barcode");
            var cVornr = document.getElementById("vornr");
            var cNum = document.getElementById("num");
            cBarcode.onkeydown = function () {
                if (event.keyCode == 13) {
                    l_error = "";
                    msg = "";
                    var barcode = document.getElementById("barcode").value;
                    var lenBarcode = barcode.length;

                    if (lenBarcode <10 ){
                        msg = "流转卡号格式错误！"
                        openMsgDialog("错误",msg,"M");
                        document.getElementById("barcode").value = "";
                        oBcd.focus();
                    }else{
                        cVornr.focus();
                    }

                }
            }

            var bClear = document.getElementById("cleanData");
            bClear.onclick= function(){
                clearData();
            }

            var bCfr=document.getElementById("confirm2");
            bCfr.onclick=function () {
                var l_error = "";
                pd_sum = document.getElementById("num").value;
                var oPd_sum = document.getElementById("num");
                var vornr = document.getElementById("vornr").value;
                var vorlen = vornr.length;
                var oVornr = document.getElementById("vornr");
                if (vorlen > 4){
                    msg = "工序号错误！";
                    openMsgDialog("错误",msg,"M");
                    oVornr.focus();
                    l_error = "E";
                }

                if ( pd_sum == '' || pd_sum == null || pd_sum == ""){
                    msg = "请输入盘点数量！";
                    openMsgDialog("错误",msg,"M");
                    oPd_sum.focus();
                    l_error = "E";
                }

                if (l_error != "E"){
                    appendMaskDialog();
                    var barcode = document.getElementById("barcode").value;
                    var num = document.getElementById("num").value;
                    var vornr = document.getElementById("vornr").value;
                    var userName = getCookie("username");
                    if (barcode != "" && num != "" && vornr != ""){
                        //保存盘点记录
                        $.ajax({
                            url: "${base.contextPath}/wip/pandiantmp/insertNewRow",
                            type: "get",
                            data: {
                                "barcode": barcode,
                                "vornr": vornr,
                                "num": num,
                                "userName": userName,
                                "werks": "工装制造部",
                                "userId": createdBy
                            },
                            contentType: "application/json; charset=utf-8",
                            success: function (res) {
                                if (res.success == true){
                                    openMsgDialog("成功",res.message,"M");
                                    removeMaskDialog();
                                }else{
                                    openMsgDialog("失败",res.message,"M");
                                    removeMaskDialog();
                                }
                            }
                        });
                    }else{

                        if (barcode == ""){
                            openMsgDialog("失败","请扫描流转卡！","M");
                            removeMaskDialog();
                        }else if(vornr == ""){
                            openMsgDialog("失败","请输入工序行号！","M");
                            removeMaskDialog();
                        }else if(num == ""){
                            openMsgDialog("失败","请输入盘点数量！","M");
                            removeMaskDialog();
                        }

                    }
                }

            }

        }



        function openMsgDialog(msgTitle,msgText,msgType) {
            appendMaskDialog();
            var dMsg=document.getElementById("msg-area");
            dMsg.style.display="";
            document.getElementById("msg1").innerHTML="&nbsp"+msgTitle;
            document.getElementById("msg2").innerHTML=msgText;
            var bCan=document.getElementById("cancer");
            var bCls2=document.getElementById("put");
            var userName = getCookie("username");
            if(msgType == "M"){
                bCan.style.display = "none";
                bCls2.onclick=function () {
                    dMsg.style.display="none";
                    removeMaskDialog();

                    if(msgTitle == "成功" || msgTitle == "失败"){
                        //清空页面元素
                        clearData();

                        //获取条码页面元素
                        var roBcd=document.getElementById("barcode");

                        //进入报工页面时，光标定位到条码输入框
                        roBcd.focus();
                    }
                    if(barcode == "" || barcode == null){

                        //获取条码页面元素
                        var roBcd=document.getElementById("barcode");

                        //进入报工页面时，光标定位到条码输入框
                        roBcd.focus();
                    }
                    if(msgText == "请输入数量"){
                        //获取条码页面元素
                        var roYed=document.getElementById("yeild");

                        //进入报工页面时，光标定位到条码输入框
                        roYed.focus();

                    }

                }
            }
//            else if(msgType == "C") {
//                bCan.style.display = "";
//                bCan.onclick=function () {
//                    dMsg.style.display="none";
//                    removeMaskDialog();
//                }
//                bCls2.onclick=function () {
//
//
//                }
//            }
        }


        function clearData() {
            document.getElementById("barcode").value = "";
            document.getElementById("vornr").value = "";
            document.getElementById("num").value = "";
        }




    </script>
</head>
<body>
<!--报工主界面-->
<div id="dispatch-area">

    <div style="width: 220px;height: 20px">
        <div id="back" style="font-size: 16px;width:40px;height:20px;float: left;background-color:#169bd5;top: 0px;margin-bottom: 1px">&nbsp;返回</div>
        <div style="width:20px;height:20px;float: left;background-color:white;top: 0px"></div>
        <div id="logout" style="font-size: 16px;width:40px;height:20px;float: left;background-color:#169bd5;top: 0px;margin-bottom: 1px">&nbsp;注销</div>
        <div style="width:20px;height:20px;float: left;background-color:white;top: 0px"></div>
        <div id="user" style="margin-right: 25px;font-size:14px;height:20px;float: right;background-color:white;top: 0px"></div>
    </div>

    <div style="width: 220px">

        <br>
        <label class="dcp-label">流转卡号</label><input id="barcode"  class="cls-attr-input"  type="text"><br>
        <br>
        <label class="dcp-label">工序行号</label><input id="vornr"  class="cls-attr-input"  type="text"><br>
        <br>
        <label class="dcp-label">盘点数量</label><input id="num" class="cls-attr-input" type="number"><br>
    </div>

    <div style="width: 220px;height: 30px;margin-top: 2px">
        <div style="width:50px;height:20px;float: left;"><button id="confirm2" style="width: auto;height: 27px" hidefocus="true" class="login-btn" >确认</button></div>
        <!--add furong.tang-->
        <div> </div>
        <div style="width:50px;height:20px;float: right;"><button id="cleanData" style="width: auto;height: 27px" hidefocus="true" class="login-btn" >清空</button></div>
        <!--add furong.tang-->
    </div>
</div>



<!--消息界面-->
<div id="msg-area">
    <div>
        <div id="msg1" style="font-size: 16px; line-height: 25px"></div>
        <div id="msg2" style="font-size: 10px; text-align: center;line-height: 20px"></div>
        <div id="msg3">
            <button id="cancer" style="float: left;width: auto;background-color: white">取消</button>
            <button id="put" style="float: right;width: auto;background-color: white">确定</button>
        </div>
    </div>
</div>

<!--遮罩层-->
<div id="mask2">
</div>
</body>
</html>