<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yj.kanb.viewdataschemaline.mapper.ViewdataschemalineMapper">
<resultMap id="BaseResultMap" type="yj.kanb.viewdataschemaline.dto.Viewdataschemaline">
    <result column="bukrs" property="bukrs" jdbcType="VARCHAR"/>
    <result column="works" property="works" jdbcType="VARCHAR"/>
    <result column="groupId" property="groupId" jdbcType="VARCHAR"/>
    <result column="product" property="product" jdbcType="VARCHAR"/>
    <result column="workshopId" property="workshopId" jdbcType="VARCHAR"/>
    <result column="matnr" property="matnr" jdbcType="VARCHAR"/>
    <result column="maktx" property="maktx" jdbcType="VARCHAR"/>
    <result column="shift" property="shift" jdbcType="VARCHAR"/>
    <result column="shifttimebegin" property="shifttimebegin" jdbcType="VARCHAR"/>
    <result column="shifttimeend" property="shifttimeend" jdbcType="VARCHAR"/>
    <result column="lineLeader" property="lineLeader" jdbcType="VARCHAR"/>
    <result column="leaderPhone" property="leaderPhone" jdbcType="VARCHAR"/>
    <result column="cycletime" property="cycletime" jdbcType="DECIMAL"/>
    <result column="workshopName" property="workshopName" jdbcType="VARCHAR"/>
    <result column="planqty" property="planqty" jdbcType="DECIMAL"/>
    <result column="actqty" property="actqty" jdbcType="DECIMAL"/>
    <result column="insufqty" property="insufqty" jdbcType="DECIMAL"/>
    <result column="jdcqqty" property="jdcqqty" jdbcType="DECIMAL"/>
    <result column="qcRate" property="qcRate" jdbcType="DECIMAL"/>
    <result column="oeeRate" property="insufqty" jdbcType="DECIMAL"/>
</resultMap>

    <select id="selectforKanb" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from view_data_schema_line
        <where>
            works = #{werks}
            and bukrs = #{bukrs}
            and groupId = #{groupId}
            and product = #{matnr}
            and workshopId = #{deptId}
        </where>
    </select>

    <insert id="insertforKanb" parameterType="yj.kanb.viewdataschemaline.dto.Viewdataschemaline">
        INSERT IN  view_data_schema_line(bukrs,works,groupId,product,workshopId,matnr,maktx,shift,shifttimebegin,shifttimeend,lineLeader,leaderPhone,cycletime,workshopName,planqty,actqty,insufqty,jdcqqty,qcRate,oeeRate)
        VALUES (#{bukrs},#{works},#{groupId},#{product},#{workshopId},#{matnr},#{maktx},#{shift},#{shifttimebegin},#{shifttimeend},#{lineLeader},#{leaderPhone},#{cycletime},#{workshopName},
        #{planqty},#{actqty},#{insufqty},#{jdcqqty},#{qcRate},#{oeeRate})
    </insert>

    <update id="updateforKanb" parameterType="yj.kanb.viewdataschemaline.dto.Viewdataschemaline">
        update view_data_schema_line set(shift,shifttimebegin,shifttimeend,lineLeader,leaderPhone,cycletime,planqty,actqty,insufqty,jdcqqty,qcRate,oeeRate)
        VALUES (#{shift},#{shifttimebegin},#{shifttimeend},#{lineLeader},#{leaderPhone},#{cycletime},#{planqty},#{actqty},#{insufqty},#{jdcqqty},#{qcRate},#{},#{oeeRate})
        <where>

        </where>
    </update>
</mapper>