<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yj.core.fevor.mapper.FevorMapper">
    <resultMap id="BaseResultMap" type="yj.core.fevor.dto.Fevor">
        <result column="WERKS" property="werks" jdbcType="VARCHAR"/>
        <result column="FEVOR" property="fevor" jdbcType="VARCHAR"/>
        <result column="TXT" property="txt" jdbcType="VARCHAR"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="DATE"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="DATE"/>
    </resultMap>
	
	<select id="selectFevor" parameterType="java.lang.String" resultMap="BaseResultMap">
		select * from sap_fevor
		<where>
			fevor like "4%"
			<if test="fevor != null">
                AND fevor = #{fevor}
            </if>
		</where>
		order by fevor desc
	</select>
	
</mapper>