<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yj.core.wipcgroupplan.mapper.CgroupPlanMapper">
    <resultMap id="BaseResultMap" type="yj.core.wipcgroupplan.dto.CgroupPlan">
        <result column="werks" property="werks" jdbcType="VARCHAR" />
        <result column="DEPT_ID" property="deptId" jdbcType="DECIMAL" />
        <result column="cgroup" property="cgroup" jdbcType="VARCHAR" />
        <result column="plandate" property="plandate" jdbcType="DATE" />
        <result column="planpos" property="planpos" jdbcType="DECIMAL" />
        <result column="plantimestart" property="plantimestart" jdbcType="DATE" />
        <result column="plantimeend" property="plantimeend" jdbcType="DATE" />
        <result column="planqty" property="planqty" jdbcType="DECIMAL" />
        <result column="classgrp" property="classgrp" jdbcType="VARCHAR" />
        <result column="shift" property="shift" jdbcType="VARCHAR" />

    </resultMap>


</mapper>